BODY {
	BACKGROUND-COLOR: transparent! important; _background-color: #CCCCCC
}
DIV#modalBox DIV.m_topicGroup UL LI IMG {
	BACKGROUND: url(/images/all_stumblethru.gif) no-repeat 20px 0px; WIDTH: 20px; HEIGHT: 20px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.bbc_co_uk {
	BACKGROUND-POSITION: 0px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.blogspot_com {
	BACKGROUND-POSITION: -19px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.break_com {
	BACKGROUND-POSITION: -38px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.cnn_com {
	BACKGROUND-POSITION: -57px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.flickr_com {
	BACKGROUND-POSITION: -76px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.funnyordie_com {
	BACKGROUND-POSITION: -95px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.howstuffworks_com {
	BACKGROUND-POSITION: -114px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.huffingtonpost_com {
	BACKGROUND-POSITION: -133px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.metacafe_com {
	BACKGROUND-POSITION: -152px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.myspace_com {
	BACKGROUND-POSITION: -171px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.pbs_org {
	BACKGROUND-POSITION: -190px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.physorg_com {
	BACKGROUND-POSITION: -209px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.rollingstone_com {
	BACKGROUND-POSITION: -228px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.sciam_com {
	BACKGROUND-POSITION: -247px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.theonion_com {
	BACKGROUND-POSITION: -266px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG._gov {
	BACKGROUND-POSITION: -285px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG._edu {
	BACKGROUND-POSITION: -304px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.wikipedia_org {
	BACKGROUND-POSITION: -323px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.wired_com {
	BACKGROUND-POSITION: -342px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.wordpress_com {
	BACKGROUND-POSITION: -361px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI IMG.youtube_com {
	BACKGROUND-POSITION: -380px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular IMG {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/pop_topics.gif); WIDTH: 20px; HEIGHT: 20px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_21 {
	BACKGROUND-POSITION: -19px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_26 {
	BACKGROUND-POSITION: -38px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_441 {
	BACKGROUND-POSITION: -57px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_426 {
	BACKGROUND-POSITION: -76px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_455 {
	BACKGROUND-POSITION: -95px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_68 {
	BACKGROUND-POSITION: -114px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_71 {
	BACKGROUND-POSITION: -133px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_93 {
	BACKGROUND-POSITION: -152px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_146 {
	BACKGROUND-POSITION: -171px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_157 {
	BACKGROUND-POSITION: -190px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_102 {
	BACKGROUND-POSITION: -209px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_187 {
	BACKGROUND-POSITION: -228px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_51 {
	BACKGROUND-POSITION: -247px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_199 {
	BACKGROUND-POSITION: -266px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_207 {
	BACKGROUND-POSITION: -285px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_271 {
	BACKGROUND-POSITION: -304px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_331 {
	BACKGROUND-POSITION: -323px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_234 {
	BACKGROUND-POSITION: -342px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_239 {
	BACKGROUND-POSITION: -361px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_255 {
	BACKGROUND-POSITION: -380px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_416 {
	BACKGROUND-POSITION: -399px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_117 {
	BACKGROUND-POSITION: -418px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_302 {
	BACKGROUND-POSITION: -437px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_307 {
	BACKGROUND-POSITION: -456px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_341 {
	BACKGROUND-POSITION: -475px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_343 {
	BACKGROUND-POSITION: -494px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_348 {
	BACKGROUND-POSITION: -513px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_109 {
	BACKGROUND-POSITION: -532px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_393 {
	BACKGROUND-POSITION: -551px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_399 {
	BACKGROUND-POSITION: -570px 0px
}
DIV#modalBox DIV.m_topicGroup UL LI A.popular #pt_97 {
	BACKGROUND-POSITION: -589px 0px
}