<DIV class=contentWrapper>
<DIV class=wrapperFlex id=wrapper>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD class="main nopadding" style="WIDTH: 100%" colSpan=2><SPAN 
      class="right cmds pdgRightSm"></SPAN>
      <DIV class="bannerSuccess form mgnTop mgnBottom pdgLeft hidden" 
      id=divRateSuccess><BR>
      <UL class="cmds nopadding">
        <LI class="textDisabled btnText left mgnRight" 
        style="MARGIN-LEFT: 30px! important"><A ondblclick=stumble_thru 
        href="http://www.stumbleupon.com/click_redir.php?t=4a62c6e1e0795&amp;src=user&amp;u=http%3A%2F%2Fwww.stumbleupon.com%2Fs%2F%23stumbler%3A7403730">Stumble 
        Linkrules321 now &gt;</A> 
        <LI>or you can write a <A 
        href="http://www.stumbleupon.com/url/Linkrules321.stumbleupon.com/">review 
        for Linkrules321</A>. </LI></UL><BR></DIV>
      <H1><SPAN class="textNoEm textUncolor right cmds pdgRightSm"><SPAN 
      class=pdgRightSm>于 Jan 26, 2009 注册</SPAN> <A
      title="Subscribe to Linkrules321's favorites with your rss reader" 
      href="http://rss.stumbleupon.com/user/Linkrules321/"><IMG 
      class="mgnTopXSm pdgLeft subDividerLeft" 
      src="/images/rss.gif"
      align=top></A> </SPAN>
      <A href="http://linkrules321.stumbleupon.com/">Linkrules321</A>
      <SPAN class=cmds><A class="textSans textDisabled tips" id=thumbup
      title="Like Linkrules321's reviews &amp; blog? | Thumbs-up and we will show you more things he likes." 
      style="FONT-SIZE: 10pt; MARGIN-LEFT: 20px" 
      onclick="user_thumbup('7403730','4a62c6e164f185.90575288')" 
      href="javascript:void(0);"><IMG class="icon iconThumbUp" 
      src="/images/s.gif"
      align=bottom>I like them </A></SPAN></H1></TD></TR>
  <TR>
    <TD class="main pdgTop">
      <TABLE class=bcard>
        <TBODY>
        <TR>
          <TD class=thumbnail><A class=tips title="0  M" 
            href="http://linkrules321.stumbleupon.com/about/"><IMG 
            src="/images/7403730.jpg"></A></TD>
          <TD>
            <DIV class="textDisabled mgnBottomSm"><SPAN 
            class="right pdgLeft">上次登录: 28小时前</SPAN>Alex is a guy
            from <A href="http://www.stumbleupon.com/state/oregon/">Oregon</A>, 
            <A 
        href="http://www.stumbleupon.com/country/usa/">USA</A>.</DIV></TD></TR></TBODY></TABLE>
      <DIV class="mgnTop mgnBottom clearfix" id=blogEntries>
      <DIV class="subDivider form sectionCmds">
      <UL class="cmds right">
        <LI class="noborder nopadding nomargin textlink textUncolor"><A 
        class=textlink 
        href="http://www.stumbleupon.com/user.php?mode=1&amp;stumbler=Linkrules321&amp;source=user_favs&amp;action=viewmode&amp;viewmode=list&amp;offset=0&amp;ftoken=4a62c6e164f185.90575288"><IMG 
        alt=List 
        src="/images/icon_listview2.gif"></A>
        <IMG alt=Grid 
        src="/images/icon_gridview2_on.gif">
        </LI></UL>
      <UL class=cmds>
        <LI class=textlink><A class="" 
        href="http://linkrules321.stumbleupon.com/blog/">评论</A>
        <LI class=textlink><A class=current 
        href="http://linkrules321.stumbleupon.com/favorites/">最爱</A>
        <LI class=textlink><SPAN class=textDisabled>图片</SPAN>
        <LI class=textlink><A class="" 
        href="http://linkrules321.stumbleupon.com/tag/video/">视频</A>
        <LI class=textlink><SPAN class=textlink>推荐</SPAN> </LI></UL>
      <DIV class="clear pdgTop"><!-- --></DIV></DIV>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/668/1295668.jpg)" 
        href="http://www.stumbleupon.com/to/2n6lTG/www.faqs.org/docs/lnag/t:4a62c6e1e0795;src:user;nature:thumbnail-0;topic:234"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.faqs.org%2Fdocs%2Flnag%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2n6lTG/www.faqs.org/docs/lnag/t:4a62c6e1e0795;src:user;topic:234">Linux 
        Newbie Guide by Stan, Peter and...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.faqs.org/docs/lnag/">25 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.faqs.org/docs/lnag/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/24/31602024.jpg)" 
        href="http://www.stumbleupon.com/to/2T8Uns/www.designshard.com/video-tutorials/space-and-planet-photoshop-tutorials-to-create-amazing-space-scenes/t:4a62c6e1e0795;src:user;nature:thumbnail-1;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.designshard.com%2Fvideo-tutorials%2Fspace-and-planet-photoshop-tutorials-to-create-amazing-space-scenes%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2T8Uns/www.designshard.com/video-tutorials/space-and-planet-photoshop-tutorials-to-create-amazing-space-scenes/t:4a62c6e1e0795;src:user;topic:187">Space 
        and Planet Photoshop Tutorials...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.designshard.com/video-tutorials/space-and-planet-photoshop-tutorials-to-create-amazing-space-scenes/">23 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.designshard.com/video-tutorials/space-and-planet-photoshop-tutorials-to-create-amazing-space-scenes/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/607/31624607.jpg)" 
        href="http://www.stumbleupon.com/to/1kSIYo/www.friedbeef.com/5-easy-ways-to-keep-windows-running-smoothly/t:4a62c6e1e0795;src:user;nature:thumbnail-2;topic:408"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.friedbeef.com%2F5-easy-ways-to-keep-windows-running-smoothly%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1kSIYo/www.friedbeef.com/5-easy-ways-to-keep-windows-running-smoothly/t:4a62c6e1e0795;src:user;topic:408">5 
        Easy Ways To Keep...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.friedbeef.com/5-easy-ways-to-keep-windows-running-smoothly/">15 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.friedbeef.com/5-easy-ways-to-keep-windows-running-smoothly/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/296/35058296.jpg)" 
        href="http://www.stumbleupon.com/to/7eklMr/imglol.com/hardware-cat/computer-hardware-chart~2~2988.html/t:4a62c6e1e0795;src:user;nature:thumbnail-3;topic:94"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fimglol.com%2Fhardware-cat%2Fcomputer-hardware-chart%7E2%7E2988.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/7eklMr/imglol.com/hardware-cat/computer-hardware-chart~2~2988.html/t:4a62c6e1e0795;src:user;topic:94">Computer 
        Hardware Chart - Hardware</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/imglol.com/hardware-cat/computer-hardware-chart%257E2%257E2988.html">23 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/imglol.com/hardware-cat/computer-hardware-chart%257E2%257E2988.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/277/12345277.jpg)" 
        href="http://www.stumbleupon.com/to/1Nj8IG/www.hongkiat.com/blog/how-to-access-blocked-web-sites/t:4a62c6e1e0795;src:user;nature:thumbnail-4;topic:271"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.hongkiat.com%2Fblog%2Fhow-to-access-blocked-web-sites%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1Nj8IG/www.hongkiat.com/blog/how-to-access-blocked-web-sites/t:4a62c6e1e0795;src:user;topic:271">How 
        To Access Blocked Web Sites | How...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.hongkiat.com/blog/how-to-access-blocked-web-sites/">2 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.hongkiat.com/blog/how-to-access-blocked-web-sites/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/462/30642462.jpg)" 
        href="http://www.stumbleupon.com/to/2clSsH/www.inquisitr.com/20609/a-must-have-for-every-office/t:4a62c6e1e0795;src:user;nature:thumbnail-5;topic:426"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.inquisitr.com%2F20609%2Fa-must-have-for-every-office%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2clSsH/www.inquisitr.com/20609/a-must-have-for-every-office/t:4a62c6e1e0795;src:user;topic:426">A 
        must have for every office</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.inquisitr.com/20609/a-must-have-for-every-office/">10 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.inquisitr.com/20609/a-must-have-for-every-office/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/959/26498959.jpg)" 
        href="http://www.stumbleupon.com/to/1mbR4P/www.crazyleafdesign.com/blog/best-photoshop-tutorials-brushes-and-textures-of-november-2008/t:4a62c6e1e0795;src:user;nature:thumbnail-6;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.crazyleafdesign.com%2Fblog%2Fbest-photoshop-tutorials-brushes-and-textures-of-november-2008%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1mbR4P/www.crazyleafdesign.com/blog/best-photoshop-tutorials-brushes-and-textures-of-november-2008/t:4a62c6e1e0795;src:user;topic:187">Best 
        Photoshop Tutorials, Brushes and...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.crazyleafdesign.com/blog/best-photoshop-tutorials-brushes-and-textures-of-november-2008/">6 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.crazyleafdesign.com/blog/best-photoshop-tutorials-brushes-and-textures-of-november-2008/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/675/35010675.jpg)" 
        href="http://www.stumbleupon.com/to/2czX6c/www.manolith.com/2009/07/15/12-emerging-technologies-for-voluntary-cyborgs/t:4a62c6e1e0795;src:user;nature:thumbnail-7;topic:343"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.manolith.com%2F2009%2F07%2F15%2F12-emerging-technologies-for-voluntary-cyborgs%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2czX6c/www.manolith.com/2009/07/15/12-emerging-technologies-for-voluntary-cyborgs/t:4a62c6e1e0795;src:user;topic:343">12 
        Emerging Technologies For Voluntary...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.manolith.com/2009/07/15/12-emerging-technologies-for-voluntary-cyborgs/">44 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.manolith.com/2009/07/15/12-emerging-technologies-for-voluntary-cyborgs/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/133/29198133.jpg)" 
        href="http://www.stumbleupon.com/to/1gCfGM/webdesignledger.com/freebies/18-photoshop-brush-sets-for-creating-incredible-lighting-effects/t:4a62c6e1e0795;src:user;nature:thumbnail-8;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwebdesignledger.com%2Ffreebies%2F18-photoshop-brush-sets-for-creating-incredible-lighting-effects">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1gCfGM/webdesignledger.com/freebies/18-photoshop-brush-sets-for-creating-incredible-lighting-effects/t:4a62c6e1e0795;src:user;topic:187">18 
        Photoshop Brush Sets for Creating...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/webdesignledger.com/freebies/18-photoshop-brush-sets-for-creating-incredible-lighting-effects">15 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/webdesignledger.com/freebies/18-photoshop-brush-sets-for-creating-incredible-lighting-effects"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/799/30863799.jpg)" 
        href="http://www.stumbleupon.com/to/2pERHm/www.collegehumor.com/article:1772972/t:4a62c6e1e0795;src:user;nature:thumbnail-9;topic:207"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.collegehumor.com%2Farticle%3A1772972">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2pERHm/www.collegehumor.com/article:1772972/t:4a62c6e1e0795;src:user;topic:207">"Your 
        Professors PowerPoint Presentation...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.collegehumor.com/article%253A1772972">8 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.collegehumor.com/article%253A1772972"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/622/10876622.jpg)" 
        href="http://www.stumbleupon.com/to/1wPeYT/compsci.ca/blog/12-computer-science-game-project-ideas/t:4a62c6e1e0795;src:user;nature:thumbnail-10;topic:399"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fcompsci.ca%2Fblog%2F12-computer-science-game-project-ideas%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1wPeYT/compsci.ca/blog/12-computer-science-game-project-ideas/t:4a62c6e1e0795;src:user;topic:399">12 
        Computer science game project...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/compsci.ca/blog/12-computer-science-game-project-ideas/">2 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/compsci.ca/blog/12-computer-science-game-project-ideas/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/465/34969465.jpg)" 
        href="http://www.stumbleupon.com/to/1lPf1N/psdfan.com/inspiration/graphic-design/35-high-def-wallpapers-to-calm-and-inspire-you/t:4a62c6e1e0795;src:user;nature:thumbnail-11;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fpsdfan.com%2Finspiration%2Fgraphic-design%2F35-high-def-wallpapers-to-calm-and-inspire-you%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1lPf1N/psdfan.com/inspiration/graphic-design/35-high-def-wallpapers-to-calm-and-inspire-you/t:4a62c6e1e0795;src:user;topic:187">35 
        High Def Wallpapers to Calm and...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/psdfan.com/inspiration/graphic-design/35-high-def-wallpapers-to-calm-and-inspire-you/">16 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/psdfan.com/inspiration/graphic-design/35-high-def-wallpapers-to-calm-and-inspire-you/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/432/34954432.jpg)" 
        href="http://www.stumbleupon.com/to/8OkZMT/www.myesmile.com/2009/07/military-quotes.html/t:4a62c6e1e0795;src:user;nature:thumbnail-12;topic:341"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.myesmile.com%2F2009%2F07%2Fmilitary-quotes.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/8OkZMT/www.myesmile.com/2009/07/military-quotes.html/t:4a62c6e1e0795;src:user;topic:341">My 
        E Smile: Military Quotes</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.myesmile.com/2009/07/military-quotes.html">41 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.myesmile.com/2009/07/military-quotes.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/463/26110463.jpg)" 
        href="http://www.stumbleupon.com/to/24g1Nc/webdesignledger.com/tutorials/28-powerful-photoshop-lighting-effects/t:4a62c6e1e0795;src:user;nature:thumbnail-13;topic:100"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwebdesignledger.com%2Ftutorials%2F28-powerful-photoshop-lighting-effects">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/24g1Nc/webdesignledger.com/tutorials/28-powerful-photoshop-lighting-effects/t:4a62c6e1e0795;src:user;topic:100">28 
        Powerful Photoshop Lighting Effects...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/webdesignledger.com/tutorials/28-powerful-photoshop-lighting-effects">63 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/webdesignledger.com/tutorials/28-powerful-photoshop-lighting-effects"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/540/33544540.jpg)" 
        href="http://www.stumbleupon.com/to/2YSWwj/www.webdesignbooth.com/60-awesome-grunge-font-that-every-designer-should-collect/t:4a62c6e1e0795;src:user;nature:thumbnail-14;topic:97"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.webdesignbooth.com%2F60-awesome-grunge-font-that-every-designer-should-collect%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2YSWwj/www.webdesignbooth.com/60-awesome-grunge-font-that-every-designer-should-collect/t:4a62c6e1e0795;src:user;topic:97">60+ 
        Awesome Grunge Font That Every...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.webdesignbooth.com/60-awesome-grunge-font-that-every-designer-should-collect/">4 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.webdesignbooth.com/60-awesome-grunge-font-that-every-designer-should-collect/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/259/5759259.jpg)" 
        href="http://www.stumbleupon.com/to/1jYoWN/www.pendrivelinux.com/t:4a62c6e1e0795;src:user;nature:thumbnail-15;topic:234"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.pendrivelinux.com%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1jYoWN/www.pendrivelinux.com/t:4a62c6e1e0795;src:user;topic:234">Boot 
        and run Linux from a USB flash...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.pendrivelinux.com/">217 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.pendrivelinux.com/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/997/34668997.jpg)" 
        href="http://www.stumbleupon.com/to/A4hYo6/www.retrocomedy.com/2009/07/top-8-terrifying-child-safety.html/t:4a62c6e1e0795;src:user;nature:thumbnail-16;topic:207"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.retrocomedy.com%2F2009%2F07%2Ftop-8-terrifying-child-safety.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/A4hYo6/www.retrocomedy.com/2009/07/top-8-terrifying-child-safety.html/t:4a62c6e1e0795;src:user;topic:207">Retro 
        Comedy: Top 8 Terrifying Child...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.retrocomedy.com/2009/07/top-8-terrifying-child-safety.html">28 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.retrocomedy.com/2009/07/top-8-terrifying-child-safety.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/306/23380306.jpg)" 
        href="http://www.stumbleupon.com/to/2818ae/www.downloadsquad.com/2008/09/02/24-killer-portable-apps-for-your-usb-flash-drive/t:4a62c6e1e0795;src:user;nature:thumbnail-17;topic:408"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.downloadsquad.com%2F2008%2F09%2F02%2F24-killer-portable-apps-for-your-usb-flash-drive%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2818ae/www.downloadsquad.com/2008/09/02/24-killer-portable-apps-for-your-usb-flash-drive/t:4a62c6e1e0795;src:user;topic:408">24 
        Killer Portable Apps For Your USB...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.downloadsquad.com/2008/09/02/24-killer-portable-apps-for-your-usb-flash-drive/">25 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.downloadsquad.com/2008/09/02/24-killer-portable-apps-for-your-usb-flash-drive/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/780/10231780.jpg)" 
        href="http://www.stumbleupon.com/to/28G54F/www.pendriveapps.com/t:4a62c6e1e0795;src:user;nature:thumbnail-18;topic:260"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.pendriveapps.com%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/28G54F/www.pendriveapps.com/t:4a62c6e1e0795;src:user;topic:260">Free 
        Portable Software USB Flash Drive...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.pendriveapps.com/">81 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.pendriveapps.com/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/266/612266.jpg)" 
        href="http://www.stumbleupon.com/to/1QYEQr/www.murphys-laws.com/murphy/murphy-technology.html/t:4a62c6e1e0795;src:user;nature:thumbnail-19;topic:207"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.murphys-laws.com%2Fmurphy%2Fmurphy-technology.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1QYEQr/www.murphys-laws.com/murphy/murphy-technology.html/t:4a62c6e1e0795;src:user;topic:207">Murphy 
        Laws Site - Technology Laws</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.murphys-laws.com/murphy/murphy-technology.html">200 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.murphys-laws.com/murphy/murphy-technology.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/342/34350342.jpg)" 
        href="http://www.stumbleupon.com/to/2vbx3K/www.webdesignerdepot.com/2009/06/50-dazzling-examples-of-polar-panorama-photography/t:4a62c6e1e0795;src:user;nature:thumbnail-20;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.webdesignerdepot.com%2F2009%2F06%2F50-dazzling-examples-of-polar-panorama-photography%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2vbx3K/www.webdesignerdepot.com/2009/06/50-dazzling-examples-of-polar-panorama-photography/t:4a62c6e1e0795;src:user;topic:187">50 
        Dazzling Examples of Polar Panorama...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.webdesignerdepot.com/2009/06/50-dazzling-examples-of-polar-panorama-photography/">8 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.webdesignerdepot.com/2009/06/50-dazzling-examples-of-polar-panorama-photography/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/199/33560199.jpg)" 
        href="http://www.stumbleupon.com/to/2FeIGG/topcultured.com/money/35-tip-jars-designed-to-make-you-give-more/t:4a62c6e1e0795;src:user;nature:thumbnail-21;topic:187"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Ftopcultured.com%2Fmoney%2F35-tip-jars-designed-to-make-you-give-more%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/2FeIGG/topcultured.com/money/35-tip-jars-designed-to-make-you-give-more/t:4a62c6e1e0795;src:user;topic:187">35 
        Tip Jars Designed to Make You Give...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/topcultured.com/money/35-tip-jars-designed-to-make-you-give-more/">37 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/topcultured.com/money/35-tip-jars-designed-to-make-you-give-more/"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/975/13975.jpg)" 
        href="http://www.stumbleupon.com/to/57adme/www.musesmuse.com/t:4a62c6e1e0795;src:user;nature:thumbnail-22;topic:363"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.musesmuse.com%2F">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/57adme/www.musesmuse.com/t:4a62c6e1e0795;src:user;topic:363">Songwriting 
        Tips &amp;Tools - The Muses...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.musesmuse.com/">8 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.musesmuse.com/"><IMG 
              class=png 
              src="/images/star_gray.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/altmthumb/843/250843.jpg)" 
        href="http://www.stumbleupon.com/to/1PBohd/www.robinfrederick.com/write.html/t:4a62c6e1e0795;src:user;nature:thumbnail-23;topic:363"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.robinfrederick.com%2Fwrite.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/1PBohd/www.robinfrederick.com/write.html/t:4a62c6e1e0795;src:user;topic:363">How 
        to Write a Song</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.robinfrederick.com/write.html">12 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.robinfrederick.com/write.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL>
      <DL class="dlSite dlGrid">
        <DD class=thumbnail><A 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/mthumb/433/963433.jpg)" 
        href="http://www.stumbleupon.com/to/3RJ1Df/www.musesmuse.com/schind.html/t:4a62c6e1e0795;src:user;nature:thumbnail-24;topic:363"><IMG 
        src="/images/s.gif"></A><A
        class=sharethis style="DISPLAY: none" 
        href="http://linkrules321.stumbleupon.com/toolbar/sidepanel.php?url=http%3A%2F%2Fwww.musesmuse.com%2Fschind.html">Share 
        This</A>
        <DT class=textDisabled><A 
        href="http://www.stumbleupon.com/to/3RJ1Df/www.musesmuse.com/schind.html/t:4a62c6e1e0795;src:user;topic:363">Songwriting 
        Articles - The Golden Rules...</A></DT>
        <DD class=stats>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
          <TR>
            <TD class=textUncolor><A 
              href="http://www.stumbleupon.com/url/www.musesmuse.com/schind.html">0 
              reviews</A></TD>
            <TD align=right><A 
              href="http://www.stumbleupon.com/url/www.musesmuse.com/schind.html"><IMG 
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"><IMG
              class=png 
              src="/images/star.png"></A></TD></TR></TBODY></TABLE></DD></DL></DIV>
      <UL class=listPagination>
        <LI><A class=current 
        href="http://linkrules321.stumbleupon.com/favorites/">1</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/25/">2</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/50/">3</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/75/">4</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/100/">5</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/125/">6</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/150/">7</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/175/">8</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/200/">9</A>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/225/">10</A>
        <LI><SPAN class=more>...</SPAN>
        <LI><A href="http://linkrules321.stumbleupon.com/favorites/250/">11</A>
        <LI><A class=nextprev id=paginationNext 
        href="http://linkrules321.stumbleupon.com/favorites/25/">Next > </A></LI></UL></TD>
<SCRIPT type=text/javascript>

	// Resize images depending on whether or not a thumbmail is present
	jQuery(document).ready (function() {
		// IE ONLY
		if( jQuery.browser.msie == true ) {
			bd = jQuery('#blogEntries dd.nothumb img').each(function() { 
				if( this.width > 710) this.width = 710;
			});
			bd = jQuery('#blogEntries dd.hasthumb img').each(function() { 
				if( this.width > 620) this.width = 620;
			});
		}
	});

document.onkeydown = navigate_blog;
</SCRIPT>

    <TD class=sidebar>
      <DIV class="section clearfix form">
      <TABLE class=userstats>
        <TBODY>
        <TR>
          <TD><A title="Stumble Linkrules321's 257 favorites" 
            href="http://linkrules321.stumbleupon.com/favorites/">257<BR><SPAN 
            class=label>favorites</SPAN></A> </TD>
          <TD class="subDividerLeft pdgLeftSm"><A 
            href="http://linkrules321.stumbleupon.com/blog/">6<BR><SPAN 
            class=label>reviews</SPAN></A> </TD></TR></TBODY></TABLE>
      <UL class=cmds>
        <LI class=btnYellow><A 
        href="http://www.stumbleupon.com/user.php?friend=7403730&amp;fauth=4a62c6e164f185.90575288&amp;from=frprof&amp;nick=Linkrules321&amp;subscribe=1">Subscribe 
        to his favorites</A> </LI></UL></DIV>
      <DIV></DIV>
      <DIV class="section clearfix form">
      <H3>How Similar Are You?</H3>
      <DIV class=meterbar>
      <DIV class=nopadding>
      <DIV class=left 
      style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://chart.apis.google.com/chart?chs=60x50&chd=t:10,100,0,0&chco=1190F1,7AC154&cht=v&chf=c,s,efefef00|bg,s,ffffff00) no-repeat left center; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://chart.apis.google.com/chart?chs=60x50&chd=t:10,100,0,0&chco=1190F1,7AC154&cht=v&chf=c,s,efefef00|bg,s,ffffff00', sizingMethod=''); PADDING-BOTTOM: 0px; WIDTH: 60px; PADDING-TOP: 0px; HEIGHT: 50px; TEXT-ALIGN: center! important; _background: url('http://cdn.stumble-upon.com/images/s.gif')"><!-- --></DIV>
      <H2 class="pdgTop textNoEm textLg textNoUl" align=center><A 
      class="tips textDisabled" 
      title="How this works|Stumble and thumb-up the things you like to see how similar you are with Linkrules321." 
      href="javascript:void(0);"> Too early to tell. </A> </H2>
      <DIV class=clear><!-- --></DIV></DIV></DIV></DIV>
      <DIV class="section clearfix">
      <UL class=liArrow>
        <LI><A href="http://linkrules321.stumbleupon.com/contact/">Send a 
        message</A> 
        <LI><A href="http://linkrules321.stumbleupon.com/about/">More about 
        Linkrules321</A> 
        <LI><A 
        href="http://www.stumbleupon.com/url/Linkrules321.stumbleupon.com/">View 
        testimonials (0)</A> 
        <LI><A href="http://linkrules321.stumbleupon.com/matches/">Browse 
        stumblers</A> 
        <LI><A 
        href="http://www.stumbleupon.com/next_stumbler.php?tok=4a62c6e164f185.90575288&amp;sidebar&amp;from_stumbler=7403730"><IMG 
        id=user_cmd_stumble alt="" 
        src="/images/s(1).gif">Visit
        another stumbler</A> </LI></UL></DIV>
      <DIV class="section clearfix">
      <H4 class=pdgBottomSm>Do you know Linkrules321 personally?</H4>
      <UL class=liArrow>
        <LI><A 
        href="http://www.stumbleupon.com/user.php?friend=7403730&amp;fauth=4a62c6e164f185.90575288&amp;from=frprof&amp;nick=Linkrules321&amp;send_friend_req=1">Send 
        Friend Request</A> </LI></UL></DIV>
      <DIV class="section clearfix">
      <H3>Friends and Subscriptions</H3>
      <DL class=vmini>
        <DD class=thumbnail><A class=tips 
        title="DivaLasD | 35 year old woman| 2712 favorites" 
        style="BACKGROUND-IMAGE: url(http://cdn.stumble-upon.com/superminipics/5478764.jpg)" 
        href="http://divalasd.stumbleupon.com/" target=_parent></A></DD></DL>
      <DIV class=clear><!-- --></DIV>
      <UL class=liArrow>
        <LI><A href="http://linkrules321.stumbleupon.com/friends/">View 
        friends</A> 
        <LI><A href="http://linkrules321.stumbleupon.com/subscriptions/">View 
        subscriptions</A> </LI></UL></DIV>
      <DIV class="section clearfix">
      <DIV class="tagcloud textUncolor pdgBottomSm">
      <UL class=textXSm>
        <LI><A title="13 sites tagged bizarre" style="FONT-SIZE: 200%" 
        href="http://linkrules321.stumbleupon.com/tag/bizarre/">bizarre</A> 
        <LI><A title="7 sites tagged computer-hardware" style="FONT-SIZE: 140%" 
        href="http://linkrules321.stumbleupon.com/tag/computer-hardware/">computer-hardware</A> 

        <LI><A title="10 sites tagged computers" style="FONT-SIZE: 180%" 
        href="http://linkrules321.stumbleupon.com/tag/computers/">computers</A> 
        <LI><A title="26 sites tagged graphic-design" style="FONT-SIZE: 220%" 
        href="http://linkrules321.stumbleupon.com/tag/graphic-design/">graphic-design</A> 

        <LI><A title="72 sites tagged humor" style="FONT-SIZE: 220%" 
        href="http://linkrules321.stumbleupon.com/tag/humor/">humor</A> 
        <LI><A title="6 sites tagged illusions" style="FONT-SIZE: 100%" 
        href="http://linkrules321.stumbleupon.com/tag/illusions/">illusions</A> 
        <LI><A title="7 sites tagged internet" style="FONT-SIZE: 160%" 
        href="http://linkrules321.stumbleupon.com/tag/internet/">internet</A> 
        <LI><A title="6 sites tagged mathematics" style="FONT-SIZE: 120%" 
        href="http://linkrules321.stumbleupon.com/tag/mathematics/">mathematics</A> 

        <LI><A title="8 sites tagged programming" style="FONT-SIZE: 180%" 
        href="http://linkrules321.stumbleupon.com/tag/programming/">programming</A> 

        <LI><A title="6 sites tagged roleplaying-games" style="FONT-SIZE: 100%" 
        href="http://linkrules321.stumbleupon.com/tag/roleplaying-games/">roleplaying-games</A> 

        <LI><A title="7 sites tagged science" style="FONT-SIZE: 160%" 
        href="http://linkrules321.stumbleupon.com/tag/science/">science</A> 
        <LI><A title="6 sites tagged self-improvement" style="FONT-SIZE: 120%" 
        href="http://linkrules321.stumbleupon.com/tag/self-improvement/">self-improvement</A> 

        <LI><A title="6 sites tagged songwriting" style="FONT-SIZE: 140%" 
        href="http://linkrules321.stumbleupon.com/tag/songwriting/">songwriting</A> 

        <LI><A title="14 sites tagged video-games" style="FONT-SIZE: 200%" 
        href="http://linkrules321.stumbleupon.com/tag/video-games/">video-games</A> 

        <LI><A title="6 sites tagged web-design" style="FONT-SIZE: 100%" 
        href="http://linkrules321.stumbleupon.com/tag/web-design/">web-design</A> 
        </LI></UL></DIV>
      <DIV class=clear><!-- --></DIV>
      <UL class=liArrow>
        <LI><A href="http://linkrules321.stumbleupon.com/tags/">View more 
        tags</A> </LI></UL></DIV>
      <DIV class="section clearfix">
      <UL class=liArrow>
        <LI><A id=flag href="javascript:void(0);">Flag this user</A> </LI></UL>
      <DIV class="clearfix hidden pdgLeftLg pdgTop" id=paneFlagUser>
      <UL class=liRound>
        <LI><A 
        href="http://www.stumbleupon.com/adult.php?stumbler=Linkrules321">Page 
        has adult content</A> 
        <LI><A 
        href="javascript:blockUser(7403730,'4a62c6e164f185.90575288','http://www.stumbleupon.com/user.php','http://Linkrules321.stumbleupon.com/about/');">Block 
        User</A> </LI></UL></DIV></DIV></TD></TR></TBODY></TABLE></DIV></DIV>
<SCRIPT type=text/javascript>

$(document).ready (function() {

    $("#thumbup").click(function(e){
		$("#divRateSuccess").slideDown("slow");
    });

	$("#flag").click(function(e) {
	  if ($("#paneFlagUser").is(":hidden")) {
		$("#flag").html('Close');
		$("#paneFlagUser").slideDown("slow");

		getFlags(7403730, '4a62c6e164f185.90575288');

		} else {
			$("#flag").html('Flag this user');
			$("#paneFlagUser").hide();
		}
	});

   $("table.userstats td a").bigTarget({
	   hoverClass: 'hover',
		clickZone: 'td:eq(0)'	   
   });

} ) ;

function blockUser(userid,fauth,preUrl,postUrl)
{
	if (confirm("By ignoring this person, you will no longer receive messages or pages from them (you can unignore this person from your Network tab). Are you sure you want to do this?"))
	{
		if (preUrl && postUrl)
		{
			location.href = preUrl + "?ignore=" + userid + '&fauth='+fauth+'&posturl='+postUrl; 
		}
		else
		{
			location.href = "?ignore=" + userid + '&fauth='+fauth;
		}
	}
}

</SCRIPT>