<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
  <HEAD>
    <TITLE></TITLE>
    <META content="Discover your web with StumbleUpon. It's the best way to discover the things you like on the web."  name=description>
    <LINK href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <%= stylesheet_link_tag "screen_0708" %>
    <%= stylesheet_link_tag "modalbox" %>
    <LINK href="http://search.yahoo.com/mrss/" rel=schema.media>
    <LINK href="http://search.yahoo.com/searchmonkey-relation/" rel=schema.rel>
    <LINK href="http://search.yahoo.com/searchmonkey/reference/" rel=schema.reference>
    <%= javascript_include_tag "jquery-1.2.6.min" %>
    <%= javascript_include_tag "base" %>
    <SCRIPT type="text/javascript">
      var SERVERDOM = ".stumbleupon.com";
	
      function trk(u) {
        if (document.images)
          (new Image).src=u;
        return true;
      }
	
    </SCRIPT>
    <SCRIPT type="text/javascript">

      function flip_profile_version()
      {
        $("#flip_to_new_profile_page").submit();
      }

    </SCRIPT>
  </HEAD>
  <BODY>

    <DIV id=modalBox style="DISPLAY: block">
      <DIV class=modalWrap id=m_login style="DISPLAY: block">
        <DIV class="modalContent clearfix">
          <H1 class=clearfix>
            <DIV class="left">登录
              <SPAN class="textNoEm textSm" id=mb_loginErrors style="DISPLAY: none; COLOR: #bf0404">-- 用户名或密码不对.</SPAN>
            </DIV>
            <A class=right href="javascript:modalBox.close();"><IMG
                class="right mgnLeft" style="DISPLAY: block; CURSOR: pointer"
                src="/images/icon_close_gray_input.gif" align=top></A> </H1>
          <DIV class="left half pdgBottom">
            <DIV class=subDividerRight>
              <DIV class="mgnLeft mgnTop row">
                <LABEL class=fieldLabel
                       for=mb_username>用户名</LABEL>
                <INPUT class="input mgnRight textUncolor"
                       id=mb_username name=mb_username>
              </DIV>
              <DIV class="mgnLeft row mgnTop">
                <LABEL class=fieldLabel
                       for=mb_password>密&nbsp;&nbsp;&nbsp;码</LABEL>
                <INPUT class="input mgnRight textUncolor"
                       id=mb_password type=password name=mb_password>
              </DIV>
              <DIV class="mgnLeft row mgnTop">
                <INPUT class=btnYellow id=mb_loginBtn type=submit value="登录 >" name=mb_loginBtn>
                <INPUT id=mb_rememberMe type=checkbox CHECKED value=1 name=mb_rememberMe>
                <LABEL
                  for=mb_rememberMe>记住我</LABEL>
                </INPUT>
              </DIV>
              <DIV class="mgnLeft row mgnTop"></DIV>
            </DIV>
          </DIV>
          <DIV class="left textCenter half pdgTopLg"><STRONG>还没注册?</STRONG><BR>
            <INPUT class="mgnTop btnGreen" onClick="top.location = '/user/sign_up'" type=button value="现在注册 >">
          </DIV>
        </DIV>
      </DIV>
      
      <DIV class=modalWrap id=m_topicSelector style="DISPLAY: block">
        <DIV class="modalContent clearfix">
          <H1 class=clearfix>
            <DIV class=left id=m_title>Select a Topic and Stumble</DIV>
            <A class=right
               style="WIDTH: 16px; HEIGHT: 16px" href="javascript:modalBox.close();"><IMG
                class="right mgnLeft" style="DISPLAY: block; CURSOR: pointer"
                src="/images/icon_close_gray_input.gif" align=top></A>
            <INPUT
              class="inputRound mgnRight right" id=m_search>
          </H1>
          <DIV id=m_topicWrapper><A id=m_scrollLeft href="javascript:void(0);"><IMG
                src="/images/slider_arrow_left_lg.gif"></A> <A id=m_scrollRight
                                                           href="javascript:void(0);"><IMG
                src="/images/slider_arrow_right_lg.gif"></A>
            <DIV id=m_scroller>
              <DIV class="clearfix pdgTop" id=m_topicGroups>
                <DIV class="m_topicGroup current left">
                  <H3 class=mgnBottom>Popular Topics</H3>
                  <UL class=clearfix id=m_populartopics>
                    <LI id="animals"><A class="popular topic" id="Animals">
                        <img id="pt_20" alt="" src="/images/s.gif"/> Animals</A> </LI>
                        
                        <LI id=animation><A class="popular topic" id=Animation><IMG alt=""  id=pt_21
                                                                                src="/images/s.gif"> Animation</A> </LI>
                    <LI id=architecture><A class="popular topic" id=Architecture><IMG id=pt_26
                                                                                      src="/images/s.gif"> Architecture</A> </LI>
                    <LI id=arts><A class="popular topic" id=Arts><IMG id=pt_441
                                                                      src="/images/s.gif"> Arts</A> </LI>
                    <LI id=bizarre/oddities><A class="popular topic" id=Bizarre/Oddities><IMG
                          id=pt_426 src="/images/s.gif"> Bizarre/Oddities</A> </LI>
                    <LI id=books><A class="popular topic" id=Books><IMG id=pt_455
                                                                        src="/images/s.gif"> Books</A> </LI>
                    <LI id=cars><A class="popular topic" id=Cars><IMG id=pt_68
                                                                      src="/images/s.gif"> Cars</A> </LI>
                    <LI id=cats><A class="popular topic" id=Cats><IMG id=pt_71
                                                                      src="/images/s.gif"> Cats</A> </LI>
                    <LI id=computers><A class="popular topic" id=Computers><IMG id=pt_93
                                                                                src="/images/s.gif"> Computers</A> </LI>
                    <LI id=environment><A class="popular topic" id=Environment><IMG id=pt_146
                                                                                    src="/images/s.gif"> Environment</A> </LI>
                    <LI id=fashion><A class="popular topic" id=Fashion><IMG id=pt_157
                                                                            src="/images/s.gif"> Fashion</A> </LI>
                    <LI id="food/cooking"><A class="popular topic" id=Food/Cooking><IMG id=pt_102
                                                                                      src="/images/s.gif"> Food/Cooking</A> </LI>
                    <LI id="graphic design"><A class="popular topic" id="Graphic Design"><IMG
                          id=pt_187 src="/images/s.gif"> Graphic Design</A> </LI>
                    <LI id="health/fitness"><A class="popular topic" id=Health/Fitness><IMG id=pt_51
                                                                                          src="/images/s.gif"> Health/Fitness</A> </LI>
                    <LI id=history><A class="popular topic" id=History><IMG id=pt_199
                                                                            src="/images/s.gif"> History</A> </LI>
                    <LI id=humor><A class="popular topic" id=Humor><IMG id=pt_207
                                                                        src="/images/s.gif"> Humor</A> </LI>
                    <LI id=internet><A class="popular topic" id=Internet><IMG id=pt_271
                                                                              src="/images/s.gif"> Internet</A> </LI>
                    <LI id="internet tools"><A class="popular topic" id="Internet Tools"><IMG
                          id=pt_331 src="/images/s.gif"> Internet Tools</A> </LI>
                    <LI id="inux/unix"><A class="popular topic" id=Linux/Unix><IMG id=pt_234
                                                                                  src="/images/s.gif"> Linux/Unix</A> </LI>
                    <LI id=macos><A class="popular topic" id=MacOS><IMG id=pt_239
                                                                        src="/images/s.gif"> MacOS</A> </LI>
                    <LI id=movies><A class="popular topic" id=Movies><IMG id=pt_255
                                                                          src="/images/s.gif"> Movies</A> </LI>
                    <LI id=music><A class="popular topic" id=Music><IMG id=pt_416
                                                                        src="/images/s.gif"> Music</A> </LI>
                    <LI id="online games"><A class="popular topic" id="Online Games"><IMG
                          id=pt_117 src="/images/s.gif"> Online Games</A> </LI>
                    <LI id=photography><A class="popular topic" id=Photography><IMG id=pt_302
                                                                                    src="/images/s.gif"> Photography</A> </LI>
                    <LI id=politics><A class="popular topic" id=Politics><IMG id=pt_307
                                                                              src="/images/s.gif"> Politics</A> </LI>
                    <LI id=satire><A class="popular topic" id=Satire><IMG id=pt_341
                                                                          src="/images/s.gif"> Satire</A> </LI>
                    <LI id="science/tech"><A class="popular topic" id=Science/Tech><IMG id=pt_343
                                                                                      src="/images/s.gif"> Science/Tech</A> </LI>
                    <LI id="self improvement"><A class="popular topic" id="Self Improvement"><IMG
                          id=pt_348 src="/images/s.gif"> Self Improvement</A> </LI>
                    <LI id=shopping><A class="popular topic" id=Shopping><IMG id=pt_109
                                                                              src="/images/s.gif"> Shopping</A> </LI>
                    <LI id=travel><A class="popular topic" id=Travel><IMG id=pt_393
                                                                          src="/images/s.gif"> Travel</A> </LI>
                    <LI id="video games"><A class="popular topic" id="Video Games"><IMG id=pt_399
                                                                                        src="/images/s.gif"> Video Games</A> </LI>
                    <LI id="web development"><A class="popular topic" id="Web Development"><IMG
                          id=pt_97 src="/images/s.gif"> Web Development</A> </LI>
                  </UL>
                </DIV>
                <DIV class="m_topicGroup left">
                  <H3 class=mgnBottom>StumbleThru these fast-growing sites</H3>
                  <UL class=clearfix id=StumbleThru>
                    <LI><A class=stumblethru id=.edu><IMG class=_edu
                                                          src="/images/s.gif">University Sites</A> </LI>
                    <LI><A class=stumblethru id=.gov><IMG class=_gov
                                                          src="/images/s.gif">US Government Sites</A> </LI>
                    <LI><A class=stumblethru id=bbc.co.uk><IMG class=bbc_co_uk
                                                               src="/images/s.gif">BBC</A> </LI>
                    <LI><A class=stumblethru id=blogspot.com><IMG class=blogspot_com
                                                                  src="/images/s.gif">Blogspot</A> </LI>
                    <LI><A class=stumblethru id=break.com><IMG class=break_com
                                                               src="/images/s.gif">Break.com</A> </LI>
                    <LI><A class=stumblethru id=cnn.com><IMG class=cnn_com
                                                             src="/images/s.gif">CNN</A> </LI>
                    <LI><A class=stumblethru id=collegehumor.com><IMG class=collegehumor_com
                                                                      src="/images/s.gif">CollegeHumor</A> </LI>
                    <LI><A class=stumblethru id=flickr.com><IMG class=flickr_com
                                                                src="/images/s.gif">Flickr</A> </LI>
                    <LI><A class=stumblethru id=funnyordie.com><IMG class=funnyordie_com
                                                                    src="/images/s.gif">FunnyOrDie</A> </LI>
                    <LI><A class=stumblethru id=howstuffworks.com><IMG class=howstuffworks_com
                                                                       src="/images/s.gif">HowStuffWorks</A> </LI>
                    <LI><A class=stumblethru id=huffingtonpost.com><IMG class=huffingtonpost_com
                                                                        src="/images/s.gif">Huffington Post</A> </LI>
                    <LI><A class=stumblethru id=metacafe.com><IMG class=metacafe_com
                                                                  src="/images/s.gif">Metacafe</A> </LI>
                    <LI><A class=stumblethru id=pbs.org><IMG class=pbs_org
                                                             src="/images/s.gif">PBS</A> </LI>
                    <LI><A class=stumblethru id=physorg.com><IMG class=physorg_com
                                                                 src="/images/s.gif">PhysOrg</A> </LI>
                    <LI><A class=stumblethru id=rollingstone.com><IMG class=rollingstone_com
                                                                      src="/images/s.gif">Rolling Stone</A> </LI>
                    <LI><A class=stumblethru id=theonion.com><IMG class=theonion_com
                                                                  src="/images/s.gif">The Onion</A> </LI>
                    <LI><A class=stumblethru id=wikipedia.org><IMG class=wikipedia_org
                                                                   src="/images/s.gif">Wikipedia</A> </LI>
                    <LI><A class=stumblethru id=wired.com><IMG class=wired_com
                                                               src="/images/s.gif">Wired</A> </LI>
                    <LI><A class=stumblethru id=wordpress.com><IMG class=wordpress_com
                                                                   src="/images/s.gif">Wordpress</A> </LI>
                    <LI><A class=stumblethru id=youtube.com><IMG class=youtube_com
                                                                 src="/images/s.gif">YouTube</A> </LI>
                  </UL>
                </DIV>
              </DIV>
            </DIV>
            <DIV id=m_topicSearch>
              <DIV class=pdgTop>
                <DIV class=m_topicGroup>
                  <H3 class=mgnBottom>Search Results</H3>
                  <UL class="m_topicGroup clearfix">
                    <LI id=a.i.><A class=topic id=A.I.>A.I.</A> </LI>
                    <LI id=aids><A class=topic id=AIDS>AIDS</A> </LI>
                    <LI id=accounting><A class=topic
                                                               id=Accounting>Accounting</A> </LI>
                    <LI id=acting><A class=topic id=Acting>Acting</A> </LI>
                    <LI id="action movies"><A class=topic
                                                                    id="Action Movies">Action Movies</A> </LI>
                    <LI id=activism><A class=topic id=Activism>Activism</A> </LI>
                    <LI id=advertising><A class=topic
                                                                id=Advertising>Advertising</A> </LI>
                    <LI id=africa><A class=topic id=Africa>Africa</A> </LI>
                    <LI id="african americans"><A class=topic
                                                                        id="African Americans">African Americans</A> </LI>
                    <LI id=aging><A class=topic id=Aging>Aging</A> </LI>
                    <LI id=agriculture><A class=topic
                                                                id=Agriculture>Agriculture</A> </LI>
                    <LI id="alcoholic drinks"><A class=topic
                                                                       id="Alcoholic Drinks">Alcoholic Drinks</A> </LI>
                    <LI id="alternative energy"><A class=topic
                                                                         id="Alternative Energy">Alternative Energy</A> </LI>
                    <LI id="alternative health"><A class=topic
                                                                         id="Alternative Health">Alternative Health</A> </LI>
                    <LI id="alternative news"><A class=topic
                                                                       id="Alternative News">Alternative News</A> </LI>
                    <LI id="alternative rock"><A class=topic
                                                                       id="Alternative Rock">Alternative Rock</A> </LI>
                    <LI id="amateur radio"><A class=topic
                                                                    id="Amateur Radio">Amateur Radio</A> </LI>
                    <LI id="ambient music"><A class=topic
                                                                    id="Ambient Music">Ambient Music</A> </LI>
                    <LI id="american football"><A class=topic
                                                                        id="American Football">American Football</A> </LI>
                    <LI id="american history"><A class=topic
                                                                       id="American History">American History</A> </LI>
                    <LI id="american lit."><A class=topic
                                                                    id="American Lit.">American Lit.</A> </LI>
                    <LI id=anarchism><A class=topic
                                                              id=Anarchism>Anarchism</A> </LI>
                    <LI id=anatomy><A class=topic id=Anatomy>Anatomy</A> </LI>
                    <LI id="ancient history"><A class=topic
                                                                      id="Ancient History">Ancient History</A> </LI>
                    <LI id=animals><A class=topic id=Animals>Animals</A> </LI>
                    <LI id=animation><A class=topic
                                                              id=Animation>Animation</A> </LI>
                    <LI id=anime><A class=topic id=Anime>Anime</A> </LI>
                    <LI id=anthropology><A class=topic
                                                                 id=Anthropology>Anthropology</A> </LI>
                    <LI id=antiaging><A class=topic
                                                              id=Antiaging>Antiaging</A> </LI>
                    <LI id=antiques><A class=topic id=Antiques>Antiques</A> </LI>
                    <LI id=archaeology><A class=topic
                                                                id=Archaeology>Archaeology</A> </LI>
                    <LI id=architecture><A class=topic
                                                                 id=Architecture>Architecture</A> </LI>
                    <LI id="art history"><A class=topic id="Art History">Art
                        History</A> </LI>
                    <LI id=arthritis><A class=topic
                                                              id=Arthritis>Arthritis</A> </LI>
                    <LI id=arts><A class=topic id=Arts>Arts</A> </LI>
                    <LI id=asia><A class=topic id=Asia>Asia</A> </LI>
                    <LI id=asthma><A class=topic id=Asthma>Asthma</A> </LI>
                    <LI id=astrology/psychics><A class=topic
                                                                       id=Astrology/Psychics>Astrology/Psychics</A> </LI>
                    <LI id=astronomy><A class=topic
                                                              id=Astronomy>Astronomy</A> </LI>
                    <LI id=atheist/agnostic><A class=topic
                                                                     id=Atheist/Agnostic>Atheist/Agnostic</A> </LI>
                    <LI id="audio equipment"><A class=topic
                                                                      id="Audio Equipment">Audio Equipment</A> </LI>
                    <LI id=australia><A class=topic
                                                              id=Australia>Australia</A> </LI>
                    <LI id=aviation/aerospace><A class=topic
                                                                       id=Aviation/Aerospace>Aviation/Aerospace</A> </LI>
                    <LI id=babies><A class=topic id=Babies>Babies</A> </LI>
                    <LI id=badminton><A class=topic
                                                              id=Badminton>Badminton</A> </LI>
                    <LI id=ballet><A class=topic id=Ballet>Ballet</A> </LI>
                    <LI id=banking><A class=topic id=Banking>Banking</A> </LI>
                    <LI id=bargains/coupons><A class=topic
                                                                     id=Bargains/Coupons>Bargains/Coupons</A> </LI>
                    <LI id=baseball><A class=topic id=Baseball>Baseball</A> </LI>
                    <LI id=basketball><A class=topic
                                                               id=Basketball>Basketball</A> </LI>
                    <LI id=beauty><A class=topic id=Beauty>Beauty</A> </LI>
                    <LI id=beer><A class=topic id=Beer>Beer</A> </LI>
                    <LI id=beverages><A class=topic
                                                              id=Beverages>Beverages</A> </LI>
                    <LI id=bicycling><A class=topic
                                                              id=Bicycling>Bicycling</A> </LI>
                    <LI id=billiards><A class=topic
                                                              id=Billiards>Billiards</A> </LI>
                    <LI id=biographies><A class=topic
                                                                id=Biographies>Biographies</A> </LI>
                    <LI id=biology><A class=topic id=Biology>Biology</A> </LI>
                    <LI id=biomechanics><A class=topic
                                                                 id=Biomechanics>Biomechanics</A> </LI>
                    <LI id=biotech><A class=topic id=Biotech>Biotech</A> </LI>
                    <LI id="bird watching"><A class=topic
                                                                    id="Bird Watching">Bird Watching</A> </LI>
                    <LI id=birds><A class=topic id=Birds>Birds</A> </LI>
                    <LI id=bizarre/oddities><A class=topic
                                                                     id=Bizarre/Oddities>Bizarre/Oddities</A> </LI>
                    <LI id="blues music"><A class=topic
                                                                  id="Blues Music">Blues Music</A> </LI>
                    <LI id="board games"><A class=topic
                                                                  id="Board Games">Board Games</A> </LI>
                    <LI id=boating><A class=topic id=Boating>Boating</A> </LI>
                    <LI id=bodybuilding><A class=topic
                                                                 id=Bodybuilding>Bodybuilding</A> </LI>
                    <LI id=books><A class=topic id=Books>Books</A> </LI>
                    <LI id=botany><A class=topic id=Botany>Botany</A> </LI>
                    <LI id=bowling><A class=topic id=Bowling>Bowling</A> </LI>
                    <LI id=boxing><A class=topic id=Boxing>Boxing</A> </LI>
                    <LI id="brain disorders"><A class=topic
                                                                      id="Brain Disorders">Brain Disorders</A> </LI>
                    <LI id=brazil><A class=topic id=Brazil>Brazil</A> </LI>
                    <LI id="british literature"><A class=topic
                                                                         id="British Literature">British Literature</A> </LI>
                    <LI id=britpop><A class=topic id=Britpop>Britpop</A> </LI>
                    <LI id=buddhism><A class=topic id=Buddhism>Buddhism</A> </LI>
                    <LI id=business><A class=topic id=Business>Business</A> </LI>
                    <LI id=c.a.d.><A class=topic id=C.A.D.>C.A.D.</A> </LI>
                    <LI id=camping><A class=topic id=Camping>Camping</A> </LI>
                    <LI id=canada><A class=topic id=Canada>Canada</A> </LI>
                    <LI id=cancer><A class=topic id=Cancer>Cancer</A> </LI>
                    <LI id=canoeing/kayaking><A class=topic
                                                                      id=Canoeing/Kayaking>Canoeing/Kayaking</A> </LI>
                    <LI id=capitalism><A class=topic
                                                               id=Capitalism>Capitalism</A> </LI>
                    <LI id="car parts"><A class=topic id="Car Parts">Car
                        Parts</A> </LI>
                    <LI id="card games"><A class=topic id="Card Games">Card
                        Games</A> </LI>
                    <LI id="career planning"><A class=topic
                                                                      id="Career Planning">Career Planning</A> </LI>
                    <LI id=caribbean><A class=topic
                                                              id=Caribbean>Caribbean</A> </LI>
                    <LI id=cars><A class=topic id=Cars>Cars</A> </LI>
                    <LI id=cartoons><A class=topic id=Cartoons>Cartoons</A> </LI>
                    <LI id=catholic><A class=topic id=Catholic>Catholic</A> </LI>
                    <LI id=cats><A class=topic id=Cats>Cats</A> </LI>
                    <LI id=celebrities><A class=topic
                                                                id=Celebrities>Celebrities</A> </LI>
                    <LI id="cell phones"><A class=topic
                                                                  id="Cell Phones">Cell Phones</A> </LI>
                    <LI id="celtic music"><A class=topic
                                                                   id="Celtic Music">Celtic Music</A> </LI>
                    <LI id="central america"><A class=topic
                                                                      id="Central America">Central America</A> </LI>
                    <LI id=chaos/complexity><A class=topic

                                                                     id=Chaos/Complexity>Chaos/Complexity</A> </LI>
                    <LI id=cheerleading><A class=topic
                                                                 id=Cheerleading>Cheerleading</A> </LI>
                    <LI id="chemical eng."><A class=topic
                                                                    id="Chemical Eng.">Chemical Eng.</A> </LI>
                    <LI id=chemistry><A class=topic
                                                              id=Chemistry>Chemistry</A> </LI>
                    <LI id=chess><A class=topic id=Chess>Chess</A> </LI>
                    <LI id="children's books"><A class=topic
                                                                       id="Children's Books">Children's Books</A> </LI>
                    <LI id=china><A class=topic id=China>China</A> </LI>
                    <LI id="christian music"><A class=topic
                                                                      id="Christian Music">Christian Music</A> </LI>
                    <LI id=christianity><A class=topic
                                                                 id=Christianity>Christianity</A> </LI>
                    <LI id=cigars><A class=topic id=Cigars>Cigars</A> </LI>
                    <LI id="civil engineering"><A class=topic
                                                                        id="Civil Engineering">Civil Engineering</A> </LI>
                    <LI id="classic films"><A class=topic
                                                                    id="Classic Films">Classic Films</A> </LI>
                    <LI id="classic rock"><A class=topic
                                                                   id="Classic Rock">Classic Rock</A> </LI>
                    <LI id="classical music"><A class=topic
                                                                      id="Classical Music">Classical Music</A> </LI>
                    <LI id="classical studies"><A class=topic
                                                                        id="Classical Studies">Classical Studies</A> </LI>
                    <LI id=climbing><A class=topic id=Climbing>Climbing</A> </LI>
                    <LI id=clothing><A class=topic id=Clothing>Clothing</A> </LI>
                    <LI id=coffee><A class=topic id=Coffee>Coffee</A> </LI>
                    <LI id="cognitive science"><A class=topic
                                                                        id="Cognitive Science">Cognitive Science</A> </LI>
                    <LI id="cold war"><A class=topic id="Cold War">Cold
                        War</A> </LI>
                    <LI id=collecting><A class=topic
                                                               id=Collecting>Collecting</A> </LI>
                    <LI id="comedy movies"><A class=topic
                                                                    id="Comedy Movies">Comedy Movies</A> </LI>
                    <LI id="comic books"><A class=topic
                                                                  id="Comic Books">Comic Books</A> </LI>
                    <LI id=communism><A class=topic
                                                              id=Communism>Communism</A> </LI>
                    <LI id="computer graphics"><A class=topic
                                                                        id="Computer Graphics">Computer Graphics</A> </LI>
                    <LI id="computer hardware"><A class=topic
                                                                        id="Computer Hardware">Computer Hardware</A> </LI>
                    <LI id="computer science"><A class=topic
                                                                       id="Computer Science">Computer Science</A> </LI>
                    <LI id="computer security"><A class=topic
                                                                        id="Computer Security">Computer Security</A> </LI>
                    <LI id=computers><A class=topic
                                                              id=Computers>Computers</A> </LI>
                    <LI id="conservative polit..."><A class=topic
                                                                            id="Conservative Polit...">Conservative Polit...</A> </LI>
                    <LI id=conspiracies><A class=topic
                                                                 id=Conspiracies>Conspiracies</A> </LI>
                    <LI id=construction><A class=topic
                                                                 id=Construction>Construction</A> </LI>
                    <LI id="consumer info"><A class=topic
                                                                    id="Consumer Info">Consumer Info</A> </LI>
                    <LI id="continuing educati..."><A class=topic
                                                                            id="Continuing Educati...">Continuing Educati...</A> </LI>
                    <LI id=counterculture><A class=topic
                                                                   id=Counterculture>Counterculture</A> </LI>
                    <LI id="country music"><A class=topic
                                                                    id="Country Music">Country Music</A> </LI>
                    <LI id=crafts><A class=topic id=Crafts>Crafts</A> </LI>
                    <LI id=cricket><A class=topic id=Cricket>Cricket</A> </LI>
                    <LI id=crime><A class=topic id=Crime>Crime</A> </LI>
                    <LI id="cult films"><A class=topic id="Cult Films">Cult
                        Films</A> </LI>
                    <LI id=culture/ethnicity><A class=topic
                                                                      id=Culture/Ethnicity>Culture/Ethnicity</A> </LI>
                    <LI id=cyberculture><A class=topic
                                                                 id=Cyberculture>Cyberculture</A> </LI>
                    <LI id="dj's/mixing"><A class=topic
                                                                  id="DJ's/Mixing">DJ's/Mixing</A> </LI>
                    <LI id="dance music"><A class=topic
                                                                  id="Dance Music">Dance Music</A> </LI>
                    <LI id=dancing><A class=topic id=Dancing>Dancing</A> </LI>
                    <LI id=databases><A class=topic
                                                              id=Databases>Databases</A> </LI>
                    <LI id="dating tips"><A class=topic
                                                                  id="Dating Tips">Dating Tips</A> </LI>
                    <LI id=daytrading><A class=topic
                                                               id=Daytrading>Daytrading</A> </LI>
                    <LI id=dentistry><A class=topic
                                                              id=Dentistry>Dentistry</A> </LI>
                    <LI id="desktop publishing"><A class=topic
                                                                         id="Desktop Publishing">Desktop Publishing</A> </LI>
                    <LI id=diabetes><A class=topic id=Diabetes>Diabetes</A> </LI>
                    <LI id=disabilities><A class=topic
                                                                 id=Disabilities>Disabilities</A> </LI>
                    <LI id=disco><A class=topic id=Disco>Disco</A> </LI>
                    <LI id=divorce><A class=topic id=Divorce>Divorce</A> </LI>
                    <LI id=doctors/surgeons><A class=topic
                                                                     id=Doctors/Surgeons>Doctors/Surgeons</A> </LI>
                    <LI id=dogs><A class=topic id=Dogs>Dogs</A> </LI>
                    <LI id=dolls/puppets><A class=topic
                                                                  id=Dolls/Puppets>Dolls/Puppets</A> </LI>
                    <LI id="drama movies"><A class=topic
                                                                   id="Drama Movies">Drama Movies</A> </LI>
                    <LI id=drawing><A class=topic id=Drawing>Drawing</A> </LI>
                    <LI id=drugs><A class=topic id=Drugs>Drugs</A> </LI>
                    <LI id="drum'n'bass"><A class=topic
                                                                  id="Drum'n'Bass">Drum'n'Bass</A> </LI>
                    <LI id="eastern studies"><A class=topic
                                                                      id="Eastern Studies">Eastern Studies</A> </LI>
                    <LI id="eating disorders"><A class=topic
                                                                       id="Eating Disorders">Eating Disorders</A> </LI>
                    <LI id=ecology><A class=topic id=Ecology>Ecology</A> </LI>
                    <LI id=ecommerce><A class=topic
                                                              id=Ecommerce>Ecommerce</A> </LI>
                    <LI id=economics><A class=topic
                                                              id=Economics>Economics</A> </LI>
                    <LI id="electrical eng."><A class=topic
                                                                      id="Electrical Eng.">Electrical Eng.</A> </LI>
                    <LI id="electronic devices"><A class=topic
                                                                         id="Electronic Devices">Electronic Devices</A> </LI>
                    <LI id="electronic parts"><A class=topic
                                                                       id="Electronic Parts">Electronic Parts</A> </LI>
                    <LI id=electronica/idm><A class=topic
                                                                    id=Electronica/IDM>Electronica/IDM</A> </LI>
                    <LI id="embedded systems"><A class=topic
                                                                       id="Embedded Systems">Embedded Systems</A> </LI>
                    <LI id=encryption><A class=topic
                                                               id=Encryption>Encryption</A> </LI>
                    <LI id="energy industry"><A class=topic
                                                                      id="Energy Industry">Energy Industry</A> </LI>
                    <LI id=entertaining><A class=topic
                                                                 id=Entertaining>Entertaining</A> </LI>
                    <LI id=entrepreneurship><A class=topic
                                                                     id=Entrepreneurship>Entrepreneurship</A> </LI>
                    <LI id=environment><A class=topic
                                                                id=Environment>Environment</A> </LI>
                    <LI id=equestrian/horses><A class=topic
                                                                      id=Equestrian/Horses>Equestrian/Horses</A> </LI>
                    <LI id=ergonomics><A class=topic
                                                               id=Ergonomics>Ergonomics</A> </LI>
                    <LI id=ethics><A class=topic id=Ethics>Ethics</A> </LI>
                    <LI id="ethnic music" style="DISPLAY: none"><A class=topic
                                                                   id="Ethnic Music">Ethnic Music</A> </LI>
                    <LI id=europe style="DISPLAY: none"><A class=topic id=Europe>Europe</A> </LI>
                    <LI id=evolution style="DISPLAY: none"><A class=topic
                                                              id=Evolution>Evolution</A> </LI>
                    <LI id="exotic pets" style="DISPLAY: none"><A class=topic
                                                                  id="Exotic Pets">Exotic Pets</A> </LI>
                    <LI id="extreme sports" style="DISPLAY: none"><A class=topic
                                                                     id="Extreme Sports">Extreme Sports</A> </LI>
                    <LI id=family style="DISPLAY: none"><A class=topic id=Family>Family</A> </LI>
                    <LI id="fantasy books" style="DISPLAY: none"><A class=topic
                                                                    id="Fantasy Books">Fantasy Books</A> </LI>
                    <LI id=fashion style="DISPLAY: none"><A class=topic id=Fashion>Fashion</A> </LI>
                    <LI id=feminism style="DISPLAY: none"><A class=topic id=Feminism>Feminism</A> </LI>
                    <LI id="figure skating" style="DISPLAY: none"><A class=topic
                                                                     id="Figure Skating">Figure Skating</A> </LI>
                    <LI id="film noir" style="DISPLAY: none"><A class=topic id="Film Noir">Film
                        Noir</A> </LI>
                    <LI id=filmmaking style="DISPLAY: none"><A class=topic
                                                               id=Filmmaking>Filmmaking</A> </LI>
                    <LI id="financial planning" style="DISPLAY: none"><A class=topic
                                                                         id="Financial Planning">Financial Planning</A> </LI>
                    <LI id="fine arts" style="DISPLAY: none"><A class=topic id="Fine Arts">Fine
                        Arts</A> </LI>
                    <LI id=firefox style="DISPLAY: none"><A class=topic id=Firefox>Firefox</A> </LI>
                    <LI id=fish style="DISPLAY: none"><A class=topic id=Fish>Fish</A> </LI>
                    <LI id=fishing style="DISPLAY: none"><A class=topic id=Fishing>Fishing</A> </LI>
                    <LI id=fitness style="DISPLAY: none"><A class=topic id=Fitness>Fitness</A> </LI>
                    <LI id=flyfishing style="DISPLAY: none"><A class=topic
                                                               id=Flyfishing>Flyfishing</A> </LI>
                    <LI id="folk music" style="DISPLAY: none"><A class=topic id="Folk Music">Folk
                        Music</A> </LI>
                    <LI id=food/cooking style="DISPLAY: none"><A class=topic
                                                                 id=Food/Cooking>Food/Cooking</A> </LI>
                    <LI id="for kids" style="DISPLAY: none"><A class=topic id="For Kids">For
                        Kids</A> </LI>
                    <LI id="foreign films" style="DISPLAY: none"><A class=topic
                                                                    id="Foreign Films">Foreign Films</A> </LI>
                    <LI id=forensics style="DISPLAY: none"><A class=topic
                                                              id=Forensics>Forensics</A> </LI>
                    <LI id=forestry style="DISPLAY: none"><A class=topic id=Forestry>Forestry</A> </LI>
                    <LI id=forums style="DISPLAY: none"><A class=topic id=Forums>Forums</A> </LI>
                    <LI id=france style="DISPLAY: none"><A class=topic id=France>France</A> </LI>
                    <LI id=funk style="DISPLAY: none"><A class=topic id=Funk>Funk</A> </LI>
                    <LI id=futurism style="DISPLAY: none"><A class=topic id=Futurism>Futurism</A> </LI>
                    <LI id=gadgets style="DISPLAY: none"><A class=topic id=Gadgets>Gadgets</A> </LI>
                    <LI id=gambling style="DISPLAY: none"><A class=topic id=Gambling>Gambling</A> </LI>
                    <LI id=gardening style="DISPLAY: none"><A class=topic
                                                              id=Gardening>Gardening</A> </LI>
                    <LI id=genealogy style="DISPLAY: none"><A class=topic
                                                              id=Genealogy>Genealogy</A> </LI>
                    <LI id=genetics style="DISPLAY: none"><A class=topic id=Genetics>Genetics</A> </LI>
                    <LI id=geography style="DISPLAY: none"><A class=topic
                                                              id=Geography>Geography</A> </LI>
                    <LI id=geoscience style="DISPLAY: none"><A class=topic
                                                               id=Geoscience>Geoscience</A> </LI>
                    <LI id=germany style="DISPLAY: none"><A class=topic id=Germany>Germany</A> </LI>
                    <LI id=glaucoma style="DISPLAY: none"><A class=topic id=Glaucoma>Glaucoma</A> </LI>
                    <LI id=golf style="DISPLAY: none"><A class=topic id=Golf>Golf</A> </LI>
                    <LI id="gospel music" style="DISPLAY: none"><A class=topic
                                                                   id="Gospel Music">Gospel Music</A> </LI>
                    <LI id="goth culture" style="DISPLAY: none"><A class=topic
                                                                   id="Goth Culture">Goth Culture</A> </LI>
                    <LI id=government style="DISPLAY: none"><A class=topic
                                                               id=Government>Government</A> </LI>
                    <LI id="graphic design" style="DISPLAY: none"><A class=topic
                                                                     id="Graphic Design">Graphic Design</A> </LI>
                    <LI id=guitar style="DISPLAY: none"><A class=topic id=Guitar>Guitar</A> </LI>
                    <LI id=guns style="DISPLAY: none"><A class=topic id=Guns>Guns</A> </LI>
                    <LI id=gymnastics style="DISPLAY: none"><A class=topic
                                                               id=Gymnastics>Gymnastics</A> </LI>
                    <LI id=hacking style="DISPLAY: none"><A class=topic id=Hacking>Hacking</A> </LI>
                    <LI id=health/fitness style="DISPLAY: none"><A class=topic
                                                                   id=Health/Fitness>Health/Fitness</A> </LI>
                    <LI id="heart conditions" style="DISPLAY: none"><A class=topic
                                                                       id="Heart Conditions">Heart Conditions</A> </LI>
                    <LI id="heavy metal" style="DISPLAY: none"><A class=topic
                                                                  id="Heavy Metal">Heavy Metal</A> </LI>
                    <LI id=hedonism style="DISPLAY: none"><A class=topic id=Hedonism>Hedonism</A> </LI>
                    <LI id=hiking style="DISPLAY: none"><A class=topic id=Hiking>Hiking</A> </LI>
                    <LI id=hinduism style="DISPLAY: none"><A class=topic id=Hinduism>Hinduism</A> </LI>
                    <LI id=hiphop/rap style="DISPLAY: none"><A class=topic
                                                               id=HipHop/Rap>HipHop/Rap</A> </LI>
                    <LI id=history style="DISPLAY: none"><A class=topic id=History>History</A> </LI>
                    <LI id=hockey style="DISPLAY: none"><A class=topic id=Hockey>Hockey</A> </LI>
                    <LI id="home improvement" style="DISPLAY: none"><A class=topic
                                                                       id="Home Improvement">Home Improvement</A> </LI>
                    <LI id=homebrewing style="DISPLAY: none"><A class=topic
                                                                id=Homebrewing>Homebrewing</A> </LI>
                    <LI id=homemaking style="DISPLAY: none"><A class=topic
                                                               id=Homemaking>Homemaking</A> </LI>
                    <LI id=homeschooling style="DISPLAY: none"><A class=topic
                                                                  id=Homeschooling>Homeschooling</A> </LI>
                    <LI id="horror movies" style="DISPLAY: none"><A class=topic
                                                                    id="Horror Movies">Horror Movies</A> </LI>
                    <LI id=hotels style="DISPLAY: none"><A class=topic id=Hotels>Hotels</A> </LI>
                    <LI id="house music" style="DISPLAY: none"><A class=topic
                                                                  id="House Music">House Music</A> </LI>
                    <LI id=humanitarianism style="DISPLAY: none"><A class=topic
                                                                    id=Humanitarianism>Humanitarianism</A> </LI>
                    <LI id=humanities style="DISPLAY: none"><A class=topic
                                                               id=Humanities>Humanities</A> </LI>
                    <LI id=humor style="DISPLAY: none"><A class=topic id=Humor>Humor</A> </LI>
                    <LI id=hunting style="DISPLAY: none"><A class=topic id=Hunting>Hunting</A> </LI>
                    <LI id=it style="DISPLAY: none"><A class=topic id=IT>IT</A> </LI>
                    <LI id="independent film" style="DISPLAY: none"><A class=topic
                                                                       id="Independent Film">Independent Film</A> </LI>
                    <LI id=india style="DISPLAY: none"><A class=topic id=India>India</A> </LI>
                    <LI id="indie rock/pop" style="DISPLAY: none"><A class=topic
                                                                     id="Indie Rock/Pop">Indie Rock/Pop</A> </LI>
                    <LI id="industrial design" style="DISPLAY: none"><A class=topic
                                                                        id="Industrial Design">Industrial Design</A> </LI>
                    <LI id="industrial music" style="DISPLAY: none"><A class=topic
                                                                       id="Industrial Music">Industrial Music</A> </LI>
                    <LI id="instant messaging" style="DISPLAY: none"><A class=topic
                                                                        id="Instant Messaging">Instant Messaging</A> </LI>
                    <LI id=insurance style="DISPLAY: none"><A class=topic
                                                              id=Insurance>Insurance</A> </LI>
                    <LI id="int'l development" style="DISPLAY: none"><A class=topic
                                                                        id="Int'l Development">Int'l Development</A> </LI>
                    <LI id="interior design" style="DISPLAY: none"><A class=topic
                                                                      id="Interior Design">Interior Design</A> </LI>
                    <LI id=internet style="DISPLAY: none"><A class=topic id=Internet>Internet</A> </LI>
                    <LI id="internet tools" style="DISPLAY: none"><A class=topic
                                                                     id="Internet Tools">Internet Tools</A> </LI>
                    <LI id=investing style="DISPLAY: none"><A class=topic
                                                              id=Investing>Investing</A> </LI>
                    <LI id=ipod style="DISPLAY: none"><A class=topic id=Ipod>Ipod</A> </LI>
                    <LI id="iraq conflict" style="DISPLAY: none"><A class=topic
                                                                    id="Iraq Conflict">Iraq Conflict</A> </LI>
                    <LI id=ireland style="DISPLAY: none"><A class=topic id=Ireland>Ireland</A> </LI>
                    <LI id=islam style="DISPLAY: none"><A class=topic id=Islam>Islam</A> </LI>
                    <LI id=israel style="DISPLAY: none"><A class=topic id=Israel>Israel</A> </LI>
                    <LI id=italy style="DISPLAY: none"><A class=topic id=Italy>Italy</A> </LI>
                    <LI id=japan style="DISPLAY: none"><A class=topic id=Japan>Japan</A> </LI>
                    <LI id=java style="DISPLAY: none"><A class=topic id=Java>Java</A> </LI>
                    <LI id=jazz style="DISPLAY: none"><A class=topic id=Jazz>Jazz</A> </LI>
                    <LI id=jewelry style="DISPLAY: none"><A class=topic id=Jewelry>Jewelry</A> </LI>
                    <LI id=journalism style="DISPLAY: none"><A class=topic
                                                               id=Journalism>Journalism</A> </LI>
                    <LI id=judaism style="DISPLAY: none"><A class=topic id=Judaism>Judaism</A> </LI>
                    <LI id="k-12 education" style="DISPLAY: none"><A class=topic
                                                                     id="K-12 Education">K-12 Education</A> </LI>
                    <LI id=karaoke style="DISPLAY: none"><A class=topic id=Karaoke>Karaoke</A> </LI>
                    <LI id=kids style="DISPLAY: none"><A class=topic id=Kids>Kids</A> </LI>
                    <LI id=kinesiology style="DISPLAY: none"><A class=topic
                                                                id=Kinesiology>Kinesiology</A> </LI>
                    <LI id=knitting/crochet style="DISPLAY: none"><A class=topic
                                                                     id=Knitting/Crochet>Knitting/Crochet</A> </LI>
                    <LI id=korea style="DISPLAY: none"><A class=topic id=Korea>Korea</A> </LI>
                    <LI id=landscaping style="DISPLAY: none"><A class=topic
                                                                id=Landscaping>Landscaping</A> </LI>
                    <LI id="latin music" style="DISPLAY: none"><A class=topic
                                                                  id="Latin Music">Latin Music</A> </LI>
                    <LI id=law style="DISPLAY: none"><A class=topic id=Law>Law</A> </LI>
                    <LI id="learning disorders" style="DISPLAY: none"><A class=topic
                                                                         id="Learning Disorders">Learning Disorders</A> </LI>
                    <LI id=lefthanded style="DISPLAY: none"><A class=topic
                                                               id=Lefthanded>Lefthanded</A> </LI>
                    <LI id="liberal politics" style="DISPLAY: none"><A class=topic
                                                                       id="Liberal Politics">Liberal Politics</A> </LI>
                    <LI id=liberties/rights style="DISPLAY: none"><A class=topic
                                                                     id=Liberties/Rights>Liberties/Rights</A> </LI>
                    <LI id="library resources" style="DISPLAY: none"><A class=topic
                                                                        id="Library Resources">Library Resources</A> </LI>
                    <LI id=linguistics style="DISPLAY: none"><A class=topic
                                                                id=Linguistics>Linguistics</A> </LI>
                    <LI id=linux/unix style="DISPLAY: none"><A class=topic
                                                               id=Linux/Unix>Linux/Unix</A> </LI>
                    <LI id=literature style="DISPLAY: none"><A class=topic
                                                               id=Literature>Literature</A> </LI>
                    <LI id="live theatre" style="DISPLAY: none"><A class=topic
                                                                   id="Live Theatre">Live Theatre</A> </LI>
                    <LI id=logic style="DISPLAY: none"><A class=topic id=Logic>Logic</A> </LI>
                    <LI id="lounge music" style="DISPLAY: none"><A class=topic
                                                                   id="Lounge Music">Lounge Music</A> </LI>
                    <LI id=macos style="DISPLAY: none"><A class=topic id=MacOS>MacOS</A> </LI>
                    <LI id=machinery style="DISPLAY: none"><A class=topic
                                                              id=Machinery>Machinery</A> </LI>
                    <LI id=magic/illusions style="DISPLAY: none"><A class=topic
                                                                    id=Magic/Illusions>Magic/Illusions</A> </LI>
                    <LI id=management/hr style="DISPLAY: none"><A class=topic
                                                                  id=Management/HR>Management/HR</A> </LI>
                    <LI id=manufacturing style="DISPLAY: none"><A class=topic
                                                                  id=Manufacturing>Manufacturing</A> </LI>
                    <LI id="marine biology" style="DISPLAY: none"><A class=topic
                                                                     id="Marine Biology">Marine Biology</A> </LI>
                    <LI id=marketing style="DISPLAY: none"><A class=topic
                                                              id=Marketing>Marketing</A> </LI>
                    <LI id="married life" style="DISPLAY: none"><A class=topic
                                                                   id="Married Life">Married Life</A> </LI>
                    <LI id="martial arts" style="DISPLAY: none"><A class=topic
                                                                   id="Martial Arts">Martial Arts</A> </LI>
                    <LI id=matchmaking style="DISPLAY: none"><A class=topic
                                                                id=Matchmaking>Matchmaking</A> </LI>
                    <LI id=mathematics style="DISPLAY: none"><A class=topic
                                                                id=Mathematics>Mathematics</A> </LI>
                    <LI id="mechanical eng." style="DISPLAY: none"><A class=topic
                                                                      id="Mechanical Eng.">Mechanical Eng.</A> </LI>
                    <LI id="medical science" style="DISPLAY: none"><A class=topic
                                                                      id="Medical Science">Medical Science</A> </LI>
                    <LI id="medieval history" style="DISPLAY: none"><A class=topic
                                                                       id="Medieval History">Medieval History</A> </LI>
                    <LI id=memorabilia style="DISPLAY: none"><A class=topic
                                                                id=Memorabilia>Memorabilia</A> </LI>
                    <LI id="men's issues" style="DISPLAY: none"><A class=topic
                                                                   id="Men's Issues">Men's Issues</A> </LI>
                    <LI id="mental health" style="DISPLAY: none"><A class=topic
                                                                    id="Mental Health">Mental Health</A> </LI>
                    <LI id=meteorology style="DISPLAY: none"><A class=topic
                                                                id=Meteorology>Meteorology</A> </LI>
                    <LI id=mexico style="DISPLAY: none"><A class=topic id=Mexico>Mexico</A> </LI>
                    <LI id=microbiology style="DISPLAY: none"><A class=topic
                                                                 id=Microbiology>Microbiology</A> </LI>
                    <LI id="middle east" style="DISPLAY: none"><A class=topic
                                                                  id="Middle East">Middle East</A> </LI>
                    <LI id=military style="DISPLAY: none"><A class=topic id=Military>Military</A> </LI>
                    <LI id=mining/metallurgy style="DISPLAY: none"><A class=topic
                                                                      id=Mining/Metallurgy>Mining/Metallurgy</A> </LI>
                    <LI id="mobile computing" style="DISPLAY: none"><A class=topic
                                                                       id="Mobile Computing">Mobile Computing</A> </LI>
                    <LI id=mormon style="DISPLAY: none"><A class=topic id=Mormon>Mormon</A> </LI>
                    <LI id="motor sports" style="DISPLAY: none"><A class=topic
                                                                   id="Motor Sports">Motor Sports</A> </LI>
                    <LI id=motorcycles style="DISPLAY: none"><A class=topic
                                                                id=Motorcycles>Motorcycles</A> </LI>
                    <LI id=movies style="DISPLAY: none"><A class=topic id=Movies>Movies</A> </LI>
                    <LI id=multimedia style="DISPLAY: none"><A class=topic
                                                               id=Multimedia>Multimedia</A> </LI>
                    <LI id=music style="DISPLAY: none"><A class=topic id=Music>Music</A> </LI>
                    <LI id="music composition" style="DISPLAY: none"><A class=topic
                                                                        id="Music Composition">Music Composition</A> </LI>
                    <LI id="music instruments" style="DISPLAY: none"><A class=topic
                                                                        id="Music Instruments">Music Instruments</A> </LI>
                    <LI id="music theory" style="DISPLAY: none"><A class=topic
                                                                   id="Music Theory">Music Theory</A> </LI>
                    <LI id=musicals style="DISPLAY: none"><A class=topic id=Musicals>Musicals</A> </LI>
                    <LI id="musician resources" style="DISPLAY: none"><A class=topic
                                                                         id="Musician Resources">Musician Resources</A> </LI>
                    <LI id="mutual funds" style="DISPLAY: none"><A class=topic
                                                                   id="Mutual Funds">Mutual Funds</A> </LI>
                    <LI id="mystery novels" style="DISPLAY: none"><A class=topic
                                                                     id="Mystery Novels">Mystery Novels</A> </LI>
                    <LI id=mythology style="DISPLAY: none"><A class=topic
                                                              id=Mythology>Mythology</A> </LI>
                    <LI id=nanotech style="DISPLAY: none"><A class=topic id=Nanotech>Nanotech</A> </LI>
                    <LI id="native americans" style="DISPLAY: none"><A class=topic
                                                                       id="Native Americans">Native Americans</A> </LI>
                    <LI id=nature style="DISPLAY: none"><A class=topic id=Nature>Nature</A> </LI>
                    <LI id=netherlands style="DISPLAY: none"><A class=topic
                                                                id=Netherlands>Netherlands</A> </LI>
                    <LI id="network security" style="DISPLAY: none"><A class=topic
                                                                       id="Network Security">Network Security</A> </LI>
                    <LI id=neuroscience style="DISPLAY: none"><A class=topic
                                                                 id=Neuroscience>Neuroscience</A> </LI>
                    <LI id="new age" style="DISPLAY: none"><A class=topic id="New Age">New Age</A> </LI>
                    <LI id="new york" style="DISPLAY: none"><A class=topic id="New York">New
                        York</A> </LI>
                    <LI id=news(general) style="DISPLAY: none"><A class=topic
                                                                  id=News(General)>News(General)</A> </LI>
                    <LI id=nightlife style="DISPLAY: none"><A class=topic
                                                              id=Nightlife>Nightlife</A> </LI>
                    <LI id=nonprofit/charity style="DISPLAY: none"><A class=topic
                                                                      id=Nonprofit/Charity>Nonprofit/Charity</A> </LI>
                    <LI id="nuclear science" style="DISPLAY: none"><A class=topic
                                                                      id="Nuclear Science">Nuclear Science</A> </LI>
                    <LI id=nursing style="DISPLAY: none"><A class=topic id=Nursing>Nursing</A> </LI>
                    <LI id=nutrition style="DISPLAY: none"><A class=topic
                                                              id=Nutrition>Nutrition</A> </LI>
                    <LI id=oceania style="DISPLAY: none"><A class=topic id=Oceania>Oceania</A> </LI>
                    <LI id="oldies music" style="DISPLAY: none"><A class=topic
                                                                   id="Oldies Music">Oldies Music</A> </LI>
                    <LI id="online games" style="DISPLAY: none"><A class=topic
                                                                   id="Online Games">Online Games</A> </LI>
                    <LI id="open source" style="DISPLAY: none"><A class=topic
                                                                  id="Open Source">Open Source</A> </LI>
                    <LI id=opera style="DISPLAY: none"><A class=topic id=Opera>Opera</A> </LI>
                    <LI id="operating systems" style="DISPLAY: none"><A class=topic
                                                                        id="Operating Systems">Operating Systems</A> </LI>
                    <LI id=options/futures style="DISPLAY: none"><A class=topic
                                                                    id=Options/Futures>Options/Futures</A> </LI>
                    <LI id=orthodox style="DISPLAY: none"><A class=topic id=Orthodox>Orthodox</A> </LI>
                    <LI id=outdoors style="DISPLAY: none"><A class=topic id=Outdoors>Outdoors</A> </LI>
                    <LI id=p2p style="DISPLAY: none"><A class=topic id=P2P>P2P</A> </LI>
                    <LI id=php style="DISPLAY: none"><A class=topic id=PHP>PHP</A> </LI>
                    <LI id=paganism style="DISPLAY: none"><A class=topic id=Paganism>Paganism</A> </LI>
                    <LI id=painting style="DISPLAY: none"><A class=topic id=Painting>Painting</A> </LI>
                    <LI id=paleontology style="DISPLAY: none"><A class=topic
                                                                 id=Paleontology>Paleontology</A> </LI>
                    <LI id=paranormal style="DISPLAY: none"><A class=topic
                                                               id=Paranormal>Paranormal</A> </LI>
                    <LI id=parenting style="DISPLAY: none"><A class=topic
                                                              id=Parenting>Parenting</A> </LI>
                    <LI id=percussion style="DISPLAY: none"><A class=topic
                                                               id=Percussion>Percussion</A> </LI>
                    <LI id="performing arts" style="DISPLAY: none"><A class=topic
                                                                      id="Performing Arts">Performing Arts</A> </LI>
                    <LI id="peripheral devices" style="DISPLAY: none"><A class=topic
                                                                         id="Peripheral Devices">Peripheral Devices</A> </LI>
                    <LI id=perl style="DISPLAY: none"><A class=topic id=Perl>Perl</A> </LI>
                    <LI id="personal sites" style="DISPLAY: none"><A class=topic
                                                                     id="Personal Sites">Personal Sites</A> </LI>
                    <LI id=petroleum style="DISPLAY: none"><A class=topic
                                                              id=Petroleum>Petroleum</A> </LI>
                    <LI id=pets style="DISPLAY: none"><A class=topic id=Pets>Pets</A> </LI>
                    <LI id=pharmacology style="DISPLAY: none"><A class=topic
                                                                 id=Pharmacology>Pharmacology</A> </LI>
                    <LI id=philosophy style="DISPLAY: none"><A class=topic
                                                               id=Philosophy>Philosophy</A> </LI>
                    <LI id="photo gear" style="DISPLAY: none"><A class=topic id="Photo Gear">Photo
                        Gear</A> </LI>
                    <LI id=photography style="DISPLAY: none"><A class=topic
                                                                id=Photography>Photography</A> </LI>
                    <LI id="physical therapy" style="DISPLAY: none"><A class=topic
                                                                       id="Physical Therapy">Physical Therapy</A> </LI>
                    <LI id=physics style="DISPLAY: none"><A class=topic id=Physics>Physics</A> </LI>
                    <LI id=physiology style="DISPLAY: none"><A class=topic
                                                               id=Physiology>Physiology</A> </LI>
                    <LI id=poetry style="DISPLAY: none"><A class=topic id=Poetry>Poetry</A> </LI>
                    <LI id=poker style="DISPLAY: none"><A class=topic id=Poker>Poker</A> </LI>
                    <LI id="political science" style="DISPLAY: none"><A class=topic
                                                                        id="Political Science">Political Science</A> </LI>
                    <LI id=politics style="DISPLAY: none"><A class=topic id=Politics>Politics</A> </LI>
                    <LI id="pop music" style="DISPLAY: none"><A class=topic id="Pop Music">Pop
                        Music</A> </LI>
                    <LI id=postmodernism style="DISPLAY: none"><A class=topic
                                                                  id=Postmodernism>Postmodernism</A> </LI>
                    <LI id=pregnancy/birth style="DISPLAY: none"><A class=topic
                                                                    id=Pregnancy/Birth>Pregnancy/Birth</A> </LI>
                    <LI id=programming style="DISPLAY: none"><A class=topic
                                                                id=Programming>Programming</A> </LI>
                    <LI id=protestant style="DISPLAY: none"><A class=topic
                                                               id=Protestant>Protestant</A> </LI>
                    <LI id=psychiatry style="DISPLAY: none"><A class=topic
                                                               id=Psychiatry>Psychiatry</A> </LI>
                    <LI id=psychology style="DISPLAY: none"><A class=topic
                                                               id=Psychology>Psychology</A> </LI>
                    <LI id="punk rock" style="DISPLAY: none"><A class=topic id="Punk Rock">Punk
                        Rock</A> </LI>
                    <LI id=puzzles style="DISPLAY: none"><A class=topic id=Puzzles>Puzzles</A> </LI>
                    <LI id=quizzes style="DISPLAY: none"><A class=topic id=Quizzes>Quizzes</A> </LI>
                    <LI id=racquetball style="DISPLAY: none"><A class=topic
                                                                id=Racquetball>Racquetball</A> </LI>
                    <LI id="radio broadcasts" style="DISPLAY: none"><A class=topic
                                                                       id="Radio Broadcasts">Radio Broadcasts</A> </LI>
                    <LI id="rave culture" style="DISPLAY: none"><A class=topic
                                                                   id="Rave Culture">Rave Culture</A> </LI>
                    <LI id="real estate" style="DISPLAY: none"><A class=topic
                                                                  id="Real Estate">Real Estate</A> </LI>
                    <LI id="recording gear" style="DISPLAY: none"><A class=topic
                                                                     id="Recording Gear">Recording Gear</A> </LI>
                    <LI id=reggae style="DISPLAY: none"><A class=topic id=Reggae>Reggae</A> </LI>
                    <LI id=relationships style="DISPLAY: none"><A class=topic
                                                                  id=Relationships>Relationships</A> </LI>
                    <LI id=religion style="DISPLAY: none"><A class=topic id=Religion>Religion</A> </LI>
                    <LI id=research style="DISPLAY: none"><A class=topic id=Research>Research</A> </LI>
                    <LI id=restaurants style="DISPLAY: none"><A class=topic
                                                                id=Restaurants>Restaurants</A> </LI>
                    <LI id=restoration style="DISPLAY: none"><A class=topic
                                                                id=Restoration>Restoration</A> </LI>
                    <LI id=robotics style="DISPLAY: none"><A class=topic id=Robotics>Robotics</A> </LI>
                    <LI id="rock music" style="DISPLAY: none"><A class=topic id="Rock Music">Rock
                        Music</A> </LI>
                    <LI id=rodeo style="DISPLAY: none"><A class=topic id=Rodeo>Rodeo</A> </LI>
                    <LI id="roleplaying games" style="DISPLAY: none"><A class=topic
                                                                        id="Roleplaying Games">Roleplaying Games</A> </LI>
                    <LI id="romance novels" style="DISPLAY: none"><A class=topic
                                                                     id="Romance Novels">Romance Novels</A> </LI>
                    <LI id=rugby style="DISPLAY: none"><A class=topic id=Rugby>Rugby</A> </LI>
                    <LI id=running style="DISPLAY: none"><A class=topic id=Running>Running</A> </LI>
                    <LI id=russia style="DISPLAY: none"><A class=topic id=Russia>Russia</A> </LI>
                    <LI id=seo style="DISPLAY: none"><A class=topic id=SEO>SEO</A> </LI>
                    <LI id=sailing style="DISPLAY: none"><A class=topic id=Sailing>Sailing</A> </LI>
                    <LI id=satire style="DISPLAY: none"><A class=topic id=Satire>Satire</A> </LI>
                    <LI id="science fiction" style="DISPLAY: none"><A class=topic
                                                                      id="Science Fiction">Science Fiction</A> </LI>
                    <LI id=science/tech style="DISPLAY: none"><A class=topic
                                                                 id=Science/Tech>Science/Tech</A> </LI>
                    <LI id=scientology style="DISPLAY: none"><A class=topic
                                                                id=Scientology>Scientology</A> </LI>
                    <LI id=scouting style="DISPLAY: none"><A class=topic id=Scouting>Scouting</A> </LI>
                    <LI id="scuba diving" style="DISPLAY: none"><A class=topic
                                                                   id="Scuba Diving">Scuba Diving</A> </LI>
                    <LI id=sculpting style="DISPLAY: none"><A class=topic
                                                              id=Sculpting>Sculpting</A> </LI>
                    <LI id=search style="DISPLAY: none"><A class=topic id=Search>Search</A> </LI>
                    <LI id="self improvement" style="DISPLAY: none"><A class=topic
                                                                       id="Self Improvement">Self Improvement</A> </LI>
                    <LI id=semiconductors style="DISPLAY: none"><A class=topic
                                                                   id=Semiconductors>Semiconductors</A> </LI>
                    <LI id="senior citizens" style="DISPLAY: none"><A class=topic
                                                                      id="Senior Citizens">Senior Citizens</A> </LI>
                    <LI id=sewing/quilting style="DISPLAY: none"><A class=topic
                                                                    id=Sewing/Quilting>Sewing/Quilting</A> </LI>
                    <LI id="sexual health" style="DISPLAY: none"><A class=topic
                                                                    id="Sexual Health">Sexual Health</A> </LI>
                    <LI id=shakespeare style="DISPLAY: none"><A class=topic
                                                                id=Shakespeare>Shakespeare</A> </LI>
                    <LI id=shareware style="DISPLAY: none"><A class=topic
                                                              id=Shareware>Shareware</A> </LI>
                    <LI id=shopping style="DISPLAY: none"><A class=topic id=Shopping>Shopping</A> </LI>
                    <LI id=skateboarding style="DISPLAY: none"><A class=topic
                                                                  id=Skateboarding>Skateboarding</A> </LI>
                    <LI id=skiing style="DISPLAY: none"><A class=topic id=Skiing>Skiing</A> </LI>
                    <LI id=skydiving style="DISPLAY: none"><A class=topic
                                                              id=Skydiving>Skydiving</A> </LI>
                    <LI id=snowboarding style="DISPLAY: none"><A class=topic
                                                                 id=Snowboarding>Snowboarding</A> </LI>
                    <LI id="soap operas" style="DISPLAY: none"><A class=topic
                                                                  id="Soap Operas">Soap Operas</A> </LI>
                    <LI id=soccer style="DISPLAY: none"><A class=topic id=Soccer>Soccer</A> </LI>
                    <LI id=socialism style="DISPLAY: none"><A class=topic
                                                              id=Socialism>Socialism</A> </LI>
                    <LI id=sociology style="DISPLAY: none"><A class=topic
                                                              id=Sociology>Sociology</A> </LI>
                    <LI id=software style="DISPLAY: none"><A class=topic id=Software>Software</A> </LI>
                    <LI id=songwriting style="DISPLAY: none"><A class=topic
                                                                id=Songwriting>Songwriting</A> </LI>
                    <LI id=soul/r&amp;b style="DISPLAY: none"><A class=topic
                                                                 id=Soul/R&amp;B>Soul/R&amp;B</A> </LI>
                    <LI id=soundtracks style="DISPLAY: none"><A class=topic
                                                                id=Soundtracks>Soundtracks</A> </LI>
                    <LI id="south america" style="DISPLAY: none"><A class=topic
                                                                    id="South America">South America</A> </LI>
                    <LI id="space exploration" style="DISPLAY: none"><A class=topic
                                                                        id="Space Exploration">Space Exploration</A> </LI>
                    <LI id=spain style="DISPLAY: none"><A class=topic id=Spain>Spain</A> </LI>
                    <LI id=spas style="DISPLAY: none"><A class=topic id=Spas>Spas</A> </LI>
                    <LI id=spirituality style="DISPLAY: none"><A class=topic
                                                                 id=Spirituality>Spirituality</A> </LI>
                    <LI id=sports(general) style="DISPLAY: none"><A class=topic
                                                                    id=Sports(General)>Sports(General)</A> </LI>
                    <LI id=squash style="DISPLAY: none"><A class=topic id=Squash>Squash</A> </LI>
                    <LI id=statistics style="DISPLAY: none"><A class=topic
                                                               id=Statistics>Statistics</A> </LI>
                    <LI id=stumbleupon style="DISPLAY: none"><A class=topic
                                                                id=StumbleUpon>StumbleUpon</A> </LI>
                    <LI id="stumbleupon news" style="DISPLAY: none"><A class=topic
                                                                       id="StumbleUpon News">StumbleUpon News</A> </LI>
                    <LI id=stumblers style="DISPLAY: none"><A class=topic
                                                              id=Stumblers>Stumblers</A> </LI>
                    <LI id=subculture style="DISPLAY: none"><A class=topic
                                                               id=Subculture>Subculture</A> </LI>
                    <LI id="substance abuse" style="DISPLAY: none"><A class=topic
                                                                      id="Substance Abuse">Substance Abuse</A> </LI>
                    <LI id=sufism style="DISPLAY: none"><A class=topic id=Sufism>Sufism</A> </LI>
                    <LI id=sunni style="DISPLAY: none"><A class=topic id=Sunni>Sunni</A> </LI>
                    <LI id=supercomputing style="DISPLAY: none"><A class=topic
                                                                   id=Supercomputing>Supercomputing</A> </LI>
                    <LI id=surfing style="DISPLAY: none"><A class=topic id=Surfing>Surfing</A> </LI>
                    <LI id=survivalist style="DISPLAY: none"><A class=topic
                                                                id=Survivalist>Survivalist</A> </LI>
                    <LI id=swimming style="DISPLAY: none"><A class=topic id=Swimming>Swimming</A> </LI>
                    <LI id=tattoos/piercing style="DISPLAY: none"><A class=topic
                                                                     id=Tattoos/Piercing>Tattoos/Piercing</A> </LI>
                    <LI id=taxation style="DISPLAY: none"><A class=topic id=Taxation>Taxation</A> </LI>
                    <LI id=tea style="DISPLAY: none"><A class=topic id=Tea>Tea</A> </LI>
                    <LI id=techno style="DISPLAY: none"><A class=topic id=Techno>Techno</A> </LI>
                    <LI id="teen life" style="DISPLAY: none"><A class=topic id="Teen Life">Teen
                        Life</A> </LI>
                    <LI id="teen parenting" style="DISPLAY: none"><A class=topic
                                                                     id="Teen Parenting">Teen Parenting</A> </LI>
                    <LI id=telecom style="DISPLAY: none"><A class=topic id=Telecom>Telecom</A> </LI>
                    <LI id=television style="DISPLAY: none"><A class=topic
                                                               id=Television>Television</A> </LI>
                    <LI id=tennis style="DISPLAY: none"><A class=topic id=Tennis>Tennis</A> </LI>
                    <LI id=terrorism style="DISPLAY: none"><A class=topic
                                                              id=Terrorism>Terrorism</A> </LI>
                    <LI id=toys style="DISPLAY: none"><A class=topic id=Toys>Toys</A> </LI>
                    <LI id=track/field style="DISPLAY: none"><A class=topic
                                                                id=Track/Field>Track/Field</A> </LI>
                    <LI id=trains/railroads style="DISPLAY: none"><A class=topic
                                                                     id=Trains/Railroads>Trains/Railroads</A> </LI>
                    <LI id=trance style="DISPLAY: none"><A class=topic id=Trance>Trance</A> </LI>
                    <LI id=transportation style="DISPLAY: none"><A class=topic
                                                                   id=Transportation>Transportation</A> </LI>
                    <LI id=travel style="DISPLAY: none"><A class=topic id=Travel>Travel</A> </LI>
                    <LI id=triphop/downtempo style="DISPLAY: none"><A class=topic
                                                                      id=TripHop/Downtempo>TripHop/Downtempo</A> </LI>
                    <LI id="ufo's" style="DISPLAY: none"><A class=topic id="UFO's">UFO's</A> </LI>
                    <LI id=uk style="DISPLAY: none"><A class=topic id=UK>UK</A> </LI>
                    <LI id=usa style="DISPLAY: none"><A class=topic id=USA>USA</A> </LI>
                    <LI id=university/college style="DISPLAY: none"><A class=topic
                                                                       id=University/College>University/College</A> </LI>
                    <LI id=vegetarian style="DISPLAY: none"><A class=topic
                                                               id=Vegetarian>Vegetarian</A> </LI>
                    <LI id="video equipment" style="DISPLAY: none"><A class=topic
                                                                      id="Video Equipment">Video Equipment</A> </LI>
                    <LI id="video games" style="DISPLAY: none"><A class=topic
                                                                  id="Video Games">Video Games</A> </LI>
                    <LI id="vintage cars" style="DISPLAY: none"><A class=topic
                                                                   id="Vintage Cars">Vintage Cars</A> </LI>
                    <LI id="virtual reality" style="DISPLAY: none"><A class=topic
                                                                      id="Virtual Reality">Virtual Reality</A> </LI>
                    <LI id="vocal music" style="DISPLAY: none"><A class=topic
                                                                  id="Vocal Music">Vocal Music</A> </LI>
                    <LI id=volleyball style="DISPLAY: none"><A class=topic
                                                               id=Volleyball>Volleyball</A> </LI>
                    <LI id="water sports" style="DISPLAY: none"><A class=topic
                                                                   id="Water Sports">Water Sports</A> </LI>
                    <LI id="web development" style="DISPLAY: none"><A class=topic
                                                                      id="Web Development">Web Development</A> </LI>
                    <LI id=webhosting style="DISPLAY: none"><A class=topic
                                                               id=Webhosting>Webhosting</A> </LI>
                    <LI id=weblogs style="DISPLAY: none"><A class=topic id=Weblogs>Weblogs</A> </LI>
                    <LI id=weddings style="DISPLAY: none"><A class=topic id=Weddings>Weddings</A> </LI>
                    <LI id="weight loss" style="DISPLAY: none"><A class=topic
                                                                  id="Weight Loss">Weight Loss</A> </LI>
                    <LI id=wicca style="DISPLAY: none"><A class=topic id=Wicca>Wicca</A> </LI>
                    <LI id=windows style="DISPLAY: none"><A class=topic id=Windows>Windows</A> </LI>
                    <LI id="windows dev" style="DISPLAY: none"><A class=topic
                                                                  id="Windows Dev">Windows Dev</A> </LI>
                    <LI id=windsurfing style="DISPLAY: none"><A class=topic
                                                                id=Windsurfing>Windsurfing</A> </LI>
                    <LI id=wine style="DISPLAY: none"><A class=topic id=Wine>Wine</A> </LI>
                    <LI id="women's issues" style="DISPLAY: none"><A class=topic
                                                                     id="Women's Issues">Women's Issues</A> </LI>
                    <LI id=wrestling style="DISPLAY: none"><A class=topic
                                                              id=Wrestling>Wrestling</A> </LI>
                    <LI id=writing style="DISPLAY: none"><A class=topic id=Writing>Writing</A> </LI>
                    <LI id=yoga style="DISPLAY: none"><A class=topic id=Yoga>Yoga</A> </LI>
                    <LI id=zoology style="DISPLAY: none"><A class=topic id=Zoology>Zoology</A> </LI>
                  </UL>
                </DIV>
              </DIV>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
      <DIV class=modalWrap id=m_discovery style="DISPLAY: block">
        <DIV class="modalContent clearfix">
          <IFRAME id=m_discoveryFrame
                  style="BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 800px; HEIGHT: 500px"
                  name=m_discoveryFrame src="about:blank" frameBorder=0 noResize
                  scrolling=no></IFRAME>
        </DIV>
      </DIV>
      <DIV class=modalWrap id=m_settopic style="DISPLAY: block">
        <DIV class="modalContent clearfix">
          <IFRAME id=m_settopicFrame
                  style="BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 800px; HEIGHT: 200px"
                  name=m_settopicFrame src="about:blank" frameBorder=0 noResize
                  scrolling=no></IFRAME>
        </DIV>
      </DIV>
    </DIV>
    
    <SCRIPT type="text/javascript">
      var modalBox = {

        mode: '',
        open: function(mode, url) {

          // Set Mode
          modalBox.mode = mode;
          modalFrame = parent.$('#modalBoxFrame');
          var center = true;

          // Reset
          $('#modalBox .modalWrap').hide();
          modalFrame.css('left','');
          modalFrame.css('margin-left','');

          // Mode Switch
          switch(mode)
          {
            case 'login':
              $('#m_login').show();
              var likeleft = parent.$('#btnLike').position().left;
              modalFrame.css('left',likeleft);
              center = false;
              break;

            case 'topicSelector':
              $('#m_topicGroups .m_topicGroup').removeClass('current');
              $('#m_topicGroups .m_topicGroup:first').addClass('current');
              $('#m_topicSelector').show();
              break;
			
            case 'discovery':
              $('#m_discovery').show();
              $('#m_discoveryFrame').attr('src', url);
              break;

            case 'setTopic':
              $('#m_settopic').show();
              $('#m_settopicFrame').attr('src', url);
              break;

            default:
              break;
          }

          // Show Lightbox
          modalFrame.show();
          modalFrame.width($('#modalBox').width());
          modalFrame.height($('#modalBox').height());

          if(center)
          {
            var w = $(parent.document.body).innerWidth();
            var left = (w / 2) - (modalFrame.width() / 2);
            modalFrame.css('left',left);
          }
		
        },

        close: function() {

          if(modalBox.mode == 'login' && parent.toolbarState.loggedOutLike) {
            //parent.toolbarState.showlogin = false;
            parent.toolbarState.showlogin = true;
            modalBox.mode = "";
          }

          // Reset
          $('#modalBox .modalWrap').hide();
          modalFrame.css('left','');
          modalFrame.css('margin-left','');

          modalBox.mode = '';
          parent.$('#modalBoxFrame').hide();
        },

        login: function() {
          var username = $('#mb_username').val();
          var password = $('#mb_password').val();

          var params = 'username='+username+'&password='+password;

          if($('#mb_rememberMe').attr('checked') == true)
          {
            params += '&rememberme=1';
          }

          if(username && password)
          {
            $.ajax({
              type: "POST",
              url: '/user/login',
              data: params,
              success: modalBox.loginCB
            });
          }
        },
	
        loginCB: function(data) {
          try
          {
            var data = eval('(' + data + ')');
            if(data && data.loggedIn == true)
            {
              if(parent.toolbarState.loggedOutLike)
              { 
                parent.toolbarState.userData = data;
                parent.toolbarState.userData.nickname = true;
                parent.toolbarState.thumb = 'none';
                parent.toolbarState.stumble=true;
                parent.webtb.thumb();
                //parent.webtb.toggleLogin();
              }
              else
              {
                parent.webtb.toggleLogin();
              }
            }
            else
            {
              $('#mb_loginErrors').show();
            }
          }
          catch (err)
          {
            $('#mb_loginErrors').show();
          }
        },

        //点击链接，选中之后的处理
        selectTopic: function(selection) {

          //children of children, because the option nodes are now children of optgroup nodes
          var changed_channel = false;
          var action = function(){};

          //take a look at the selected option. see if it should result in changing the channel
          if (selection.hasClass('topic'))
          {//按topic浏览
            var label = selection.attr('id');
            if (selection.hasClass('adult') && !parent.toolbarState.userData.loggedIn )
            {//如果选择的是成人内容的话，要求先登录
              var contentFrame = parent.stumbleContent;
              contentFrame.location.replace('/user/login');
            }
            else
            {
              if (selection.attr('id') == 'videos')
              {//视频内容特殊处理
                label = 'StumbleVideo';
                action = parent.webtb.stumbleVideo();
              }
              else
              {//普通内容的话，topic中保存选择，模式：topic
                parent.toolbarState.topic = selection.attr('id');
                parent.webtb.request.topic = selection.attr('id');
                parent.webtb.setStumbleMode('topic', true);
                action = parent.webtb.stumble;
              }
            }
            parent.webtb.setModeLabel(label);//兴趣爱好选择框显示设置
            changed_channel = true;
          }
          else if (selection.hasClass('stumblethru'))
          {//只显示某个网站的内容
            parent.webtb.setModeLabel(selection.attr('id'));
            parent.toolbarState.partner = selection.attr('id');
            parent.webtb.request.stumblethru = selection.attr('id');
            parent.webtb.setStumbleMode('stumblethru', true);
            action = parent.webtb.stumble;

            changed_channel = true;
          }
          else if (selection.hasClass('navtopic'))
          {
            parent.webtb.setModeLabel('');
            parent.webtb.setStumbleMode('navtopic');
            parent.toolbarState.topic = selection.attr('id');
            parent.webtb.request.topic = selection.attr('id');
            changed_channel = true;
            action = parent.webtb.stumble;
          }
          else if (selection.hasClass('metatopic'))
          {
            parent.webtb.setModeLabel('');
            parent.webtb.setStumbleMode('metatopic');
            parent.toolbarState.topic = selection.attr('id');
            parent.webtb.request.topic = selection.attr('id');
            changed_channel = true;
            action = parent.webtb.stumble;
          }
          else if (selection.hasClass('control'))
          {
            if (selection.attr('id') == 'update_ints')
            {
              if (parent.toolbarState.userData.loggedIn && parent.toolbarState.userData.nickname)
              {
                top.location.replace('http://' + parent.toolbarState.userData.nickname + parent.server + '/prefs/interests/');
              }
            }
          }

          //if channel was changed successfully, hide selector and show label area
          if (changed_channel)
          {
            modalBox.close();
            parent.window.setTimeout(action,500);//主页面按所选择，来更新内容
          }

        },

        search: function() {
          var search = $('#m_search');
          if(search.val())
          {
            $('#m_scroller').hide();
            $('#m_topicSearch').show();
            $('#m_topicSearch ul li').hide();
            $('#m_topicSearch ul li[id^='+search.val().toLowerCase()+']').show();
          }
          else
          {
            $('#m_topicSearch').hide();
            $('#m_scroller').show();
          }
        },



        init: function() {


          // Login Button Click
          $('#mb_loginBtn').click(function() {
            modalBox.login();
          });

          //handles changes in topic / channel
          $('#m_topicSelector ul li a').click(function() {
            modalBox.selectTopic($(this));
          });

          $('#m_scrollRight').click(function() {
            var current = $('#m_topicGroups div.current');
            if(current.next().size())
            {
              current.removeClass('current');
              current.next().addClass('current');
              $('#m_scroller').animate({scrollLeft: '+=700px'},200);
            }
          });

          $('#m_scrollLeft').click(function() {
            var current = $('#m_topicGroups div.current');
            if(current.prev().size())
            {
              current.removeClass('current');
              current.prev().addClass('current');
              $('#m_scroller').animate({scrollLeft: '-=700px'},200);
            }
          });

          $('#m_search').keyup(function () {
            modalBox.search();
          });

          //如果选择的是 all 则重新随机浏览
          $('.allTopics').click(function() {
            parent.webtb.setStumbleMode('general');
            parent.webtb.stumble();
            modalBox.close();
          });

          //如果是修改兴趣爱好，则转到相应页面去
          $('#update_ints').click(function() {
            if (parent.toolbarState.userData.loggedIn && parent.toolbarState.userData.nickname)
            {
              top.location.replace('http://' + parent.toolbarState.userData.nickname + parent.server + '/prefs/interests/');
            }
          });


        }

      }
      modalBox.init();
    </SCRIPT>
  </BODY>
</HTML>
